In [362]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import warnings
warnings.filterwarnings('ignore')

In [363]:
df = pd.read_excel(r'C:\Users\Hi\Desktop\Data_Train_Restaurant.xlsx')
df

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...,...,...
12685,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500
12686,"CASUAL DINING,BAR",9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
12687,LOUNGE,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300
12688,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400
12689,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [364]:
df.isna().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [365]:
df=df.dropna(subset = ['CITY']) 
df=df.dropna(subset = ['LOCALITY']) 
df=df.dropna(subset = ['RATING'])      # drop nan values of dataset wrt CITY, LOCALITY, RATING, VOTES
df=df.dropna(subset = ['VOTES']) 
df = df.reset_index(drop=True)
df

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...,...,...
11388,QUICK BITES,13228,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500
11389,"CASUAL DINING,BAR",9686,"Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11390,LOUNGE,11133,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300
11391,CASUAL DINING,6134,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400
11392,CASUAL DINING,6430,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [366]:
df.isna().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
COST             0
dtype: int64

In [367]:
df=df.drop(['RESTAURANT_ID'],axis=1)    # column not required for data analysis
df

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...,...
11388,QUICK BITES,"North Indian, Burger, Kebab","12noon – 12midnight (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Gachibowli,3.8,546 votes,500
11389,"CASUAL DINING,BAR","Goan, Continental","12noon – 1am (Mon-Fri),11am – 5pm, 7pm – 1am...",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11390,LOUNGE,"Finger Food, Continental, Asian, Chinese",12noon – 12:30AM (Mon-Sun),Navi Mumbai,Vashi,4.0,608 votes,1300
11391,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",6am – 10:45pm (Mon-Sun),Chennai,Maduravoyal,3.5,32 votes,400
11392,CASUAL DINING,"North Indian, Chinese",12:30pm – 11pm (Mon-Sun),Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [368]:
df=df.drop(['TIME'],axis=1)  # column not required, has not much relation with Target variable COST  
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...
11388,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546 votes,500
11389,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11390,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608 votes,1300
11391,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32 votes,400
11392,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [369]:
print(df['TITLE'].unique())                  
print(df['CUISINES'].unique())                         
print(df['CITY'].unique())                  
print(df['LOCALITY'].unique())    
print(df['RATING'].unique())         
print(df['VOTES'].unique())         
print(df['COST'].unique())

['CASUAL DINING' 'CASUAL DINING,BAR' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÉ'
 'MICROBREWERY' 'QUICK BITES,BEVERAGE SHOP' 'CASUAL DINING,IRANI CAFE'
 'BAKERY,QUICK BITES' 'None' 'BAR,CASUAL DINING' 'BAR' 'PUB'
 'BEVERAGE SHOP' 'FINE DINING' 'CAFÉ,QUICK BITES'
 'BEVERAGE SHOP,DESSERT PARLOR' 'SWEET SHOP,QUICK BITES'
 'DESSERT PARLOR,SWEET SHOP' 'BAKERY' 'BAKERY,DESSERT PARLOR' 'BAR,LOUNGE'
 'FOOD COURT' 'LOUNGE' 'DESSERT PARLOR,BEVERAGE SHOP'
 'LOUNGE,CASUAL DINING' 'QUICK BITES,FOOD COURT' 'SWEET SHOP'
 'PUB,CASUAL DINING' 'MESS' 'MICROBREWERY,CASUAL DINING'
 'CASUAL DINING,SWEET SHOP' 'KIOSK' 'QUICK BITES,KIOSK' 'CLUB'
 'FINE DINING,BAR' 'DESSERT PARLOR,QUICK BITES' 'FOOD COURT,QUICK BITES'
 'LOUNGE,CAFÉ' 'BAKERY,CONFECTIONERY' 'DHABA' 'CAFÉ,DESSERT PARLOR'
 'CASUAL DINING,CAFÉ' 'QUICK BITES,DESSERT PARLOR' 'PUB,MICROBREWERY'
 'LOUNGE,BAR' 'DESSERT PARLOR,CAFÉ' 'CAFÉ,BAR' 'SWEET SHOP,CONFECTIONERY'
 'CASUAL DINING,PUB' 'MICROBREWERY,BAR' 'QUICK BITES,SWEET SHOP'
 'BEVERAGE SHOP,QUICK BITES' 'CASUAL DINING,LOUNGE' 'QUICK BITES,CAFÉ'
 'BAR,CAFÉ' 'CAFÉ,CASUAL DINING' 'QUICK BITES,CASUAL DINING'
 'CASUAL DINING,MICROBREWERY' 'CASUAL DINING,BAKERY' 'CAFÉ,BAKERY'
 'MEAT SHOP' 'QUICK BITES,BAKERY' 'DESSERT PARLOR,BAKERY'
 'BAR,FINE DINING' 'SWEET SHOP,CASUAL DINING' 'MEAT SHOP,QUICK BITES'
 'FOOD TRUCK' 'PUB,LOUNGE' 'COCKTAIL BAR' 'FINE DINING,LOUNGE'
 'CONFECTIONERY' 'QUICK BITES,BAR' 'BAKERY,FOOD COURT' 'BAKERY,CAFÉ'
 'PUB,BAR' 'DESSERT PARLOR,FOOD COURT' 'QUICK BITES,FOOD TRUCK'
 'BAKERY,BEVERAGE SHOP' 'CLUB,BAR' 'BAKERY,SWEET SHOP'
 'CASUAL DINING,FOOD COURT' 'PAAN SHOP' 'BEVERAGE SHOP,CAFÉ'
 'FOOD COURT,DESSERT PARLOR' 'CLUB,MICROBREWERY' 'CAFÉ,BEVERAGE SHOP'
 'SWEET SHOP,BAKERY' 'DESSERT PARLOR,PAAN SHOP' 'MICROBREWERY,LOUNGE'
 'LOUNGE,CLUB' 'SWEET SHOP,DESSERT PARLOR' 'BAR,PUB'
 'CONFECTIONERY,QUICK BITES' 'DESSERT PARLOR,KIOSK' 'LOUNGE,PUB'
 'SWEET SHOP,BEVERAGE SHOP' 'FINE DINING,CAFÉ'
 'BEVERAGE SHOP,CASUAL DINING' 'KIOSK,QUICK BITES'
 'CASUAL DINING,DESSERT PARLOR' 'LOUNGE,FINE DINING' 'PUB,CAFÉ'
 'CAFÉ,LOUNGE' 'BAR,CLUB' 'COCKTAIL BAR,CASUAL DINING' 'MICROBREWERY,PUB'
 'CASUAL DINING,CLUB' 'KIOSK,FOOD COURT' 'LOUNGE,MICROBREWERY'
 'BAR,MICROBREWERY']
['Malwani, Goan, North Indian' 'Asian, Modern Indian, Japanese'
 'North Indian, Chinese, Biryani, Hyderabadi' ...
 'North Indian, Burger, Kebab' 'Goan, Continental'
 'Finger Food, Continental, Asian, Chinese']
['Thane' 'Chennai' 'Mumbai' 'Bangalore' 'Gurgaon' 'Hyderabad' 'Kochi'
 'Thane West' 'Andheri Lokhandwala' 'New Delhi' 'Andheri West'
 'Malad East' '682036' 'Bangalor' 'Navi Mumbai' 'Bandra West' 'Delhi'
 'Noida' 'Secunderabad' 'India' 'Madhuranagar' 'Chennai Teynampet'
 'Faridabad' 'Chembur.' 'Maharashtra' 'opp gurudwara Shakurpur'
 'Telagana Land Line:040-48507016' 'Ghaziabad' 'Karnataka' 'Kerala'
 'Bengalore' 'Near Reliance Fresh' 'Kilpauk' 'Bengaluru' 'Kothaguda'
 'Goregaon West' 'Banglore' 'Tamil Nadu' 'Kakkanad' 'Outer Ring Road'
 'Mulund East' 'Secunderabad main road near signal NMREC COLLEGE'
 'Telangana' 'Ponnuruni Kochi' 'Gachibowli' 'Semmancheri'
 '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034'
 'Mumbai Mahim' 'Powai (Next to Powai Plaza)' 'Dombivali East' 'Kandivali'
 'Dewan Rama Road' 'Gurugram' 'Sector 51 Noida' 'Besant Nagar'
 'Arumbakkam chennai-600106.' 'Adjacent To Commercial Street' 'Delhi NCR'
 'Dwarka' 'Kalyan West' 'Avadi' 'Kondapur' 'Mehdipatnam' 'Gandipet'
 'Velachery' 'Pallavaram' 'Vijaya Nagar' 'BTM Layout' 'Chennai 600034.'
 'Metro Pillar No 21. Mettuguda main road near railway degree college.'
 'Chennai - 600040' 'JP Nagar Bangalore' 'Madhapur' 'Sarjapur'
 'Whitefield Bangalore' 'Kochi Chullickal' 'Kochi-683101'
 'Bangalore - 560076' 'Rohini' 'Hyderabad Behind Vacs Pastries'
 'Hyderabad neerus emporium.' 'Navi Mumbai.' 'Karol Bagh' 'Perungudi'
 'Thykoodam' 'Greater Noida' 'Bangalore.' 'Khairatabad' 'chullickal'
 'Grant Road West' 'Hitech City' 'West Maredpally' 'Mumbai - 400007'
 'Chennai Padur' 'Chander Nagar New Delhi' 'Nedumbassery' 'MG Road'
 'Naya Nagar Mira Road' 'Pitampura' 'Lower Parel' 'HBR Layout'
 'Telangana 500003' 'Rajiv gandhi Nagar' 'New Delhi.' 'Medavakkam'
 'Sathya Nagar' 'p.o Kochi' 'Behind Ramalayam Temple' 'Palarivattom'
 'Brigade Road' 'Mumbai.' 'Mumbai Andheri East' 'Virar West' 'B-1 Stage'
 'Chennai Kovalam' 'Hyderabad.' 'Aluva' 'Telangana 500034'
 'IOB Bank Kamala Nagar' 'HSR Layout' 'DLF Galleria'
 'Nallathambi Main Road' 'Chennai opp: Vasanth & co' 'Citypark'
 'Karnataka 560103' 'Bhayandar' 'Thammenahalli Village' 'SG Palya'
 'Attapur.' 'Near Shangrilla Bus Stop' 'Khar (west)' 'Road 3' 'Kukatpally'
 'Telangana 500032' 'Dilsukhnagar' 'Mogappair. Chennai' 'Kaloor'
 'Near Munrshwara Temple' 'Off Brigade Road' 'khar west' 'Potheri'
 'Chennai Perungudi' 'Chennai Thuraipakkam' 'OMR Karapakkam'
 'Hyderabad-500032' 'Ernakulam' 'Mumbai Dombivali East'
 'Chennai Thousand Lights' 'Mahim' 'Lingampally' 'Powai'
 'New Delhi-110024' 'Chennai- 600107' 'Vasai West.' 'Thane (W)'
 'Near Santosh Banjara Hyderabad'
 'Banaswadi (Next to Indian Bank) Bangalore' 'BTM Bangalore'
 'Greater Kailash 2 New Delhi' 'Secunderabad ECIL'
 'Bangalore Koramangala 7th Block' 'bangalore : 560085' 'navi mumbai'
 'Gachibowli Hyderabad'
 'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -'
 'ECR NEELANKARAI Chennai 600115' 'ward X11' 'kochi' 'Mira raod east'
 'Chennai.' 'Pokhran Road 2' 'Uttar Pradesh' 'Karnataka 560102'
 'Mumbai - 400013' 'Naharpar' 'Hosur Road' 'Near Bharat Petroleum.'
 'Chennai (Bang Opposite Indian Bank)' 'Sriram nagar' 'Vyttila'
 'Banjara Hills' 'MALAPALLIPURAM P .O THRISSUR' 'Andheri west Mumbai'
 'Karnataka 560043' 'Panampilly Nagar' 'hyderabad' 'Borivali East.' 'ECIL'
 'Jubilee Hills'
 'Amrit kaur market opposite new delhi railway station paharganj'
 'Chennai Opposite 5C Bus stand' 'Telengana' 'Kochi Ravipuram' 'Rajanpada'
 'Mahabalipuram' 'Secunderabad. WE HAVE NO BRANCHES.' 'Telangana 500081'
 'Gurgoan' 'Elamakkara' 'Sector 1' 'Bandra W' 'Kolathur'
 'Chennai Mahabalipuram' '3rd Street' 'Mumbai Chakala' 'Borivali West'
 'Rodeo Drive Sector 49' 'Delhi 110085' 'Sector 51' 'Champapet'
 'Andavar Nagar' 'Bangalore - 560103' 'Edappally'
 'opp mukteshwar ashram powai' 'Nungambakkam' 'BK Guda'
 'Jogeshwari (w) Mumbai' 'Kukatapally' 'Near Sector 110 Noida' 'Navallur'
 'Beside Excellency Gardens' 'Mumbai - 80' 'Begumpet'
 'Maharaja Hotel Beside Gardania Bar' 'Ashok Vihar Phase 1' 'Kochi-18'
 'Narayanguda' 'Thevera' 'Chennai-40' 'Palm Beach Road'
 'East Coast Road (ECR)' 'Ramapuram' 'Chennai Chrompet' 'Nandanam' 'Saket'
 'MG Road Ernakulam' 'Andheri Lokhandwala.' 'Indiranagar' 'Thiruvanmiyur'
 'Ambattur' 'Banglaore' 'Chennai - 34 Landmark - Near Loyola College'
 'Anna Nagar West' 'Old Railway Road' 'East Mumbai'
 'Kanakapura Road Banglore' 'Kochi Kakkanad' 'Kalyan'
 'Near Ramlila Ground' 'Serilingampally' 'Himayath Nagar' 'Nallala Street'
 'Anna Salai' 'Old Delhi' 'Wagle Estate' '1st Stage' 'Kochi-16'
 'First Street' 'Chenn ai' '6 & 7 - 4/64 Subhash Nagar' '1st Tavarekere'
 'Perambur' 'Block F' 'Sector 7 Dwarka' 'Opposite Barathi Gas Company'
 'Vadapalani' 'Kondapur.' 'Badlapur West.' 'Kalamassery' 'Palavakkam'
 'TCS Synergy park' 'Kochi Palarivattom' 'NEW BEL ROAD 560054'
 'Veliaveetil house Vivekananda Nagar Elamakkara' 'Sholinganallur'
 'Maharashtra 400102' 'Lower Parel West' 'Tripunithura' 'Mogappair'
 'Telangana 500070' 'JP Nagar' 'Navi-Mumbai' 'Ashok Nagar' 'Marathahalli'
 'Haridwar Apartments' 'Kerala 682001 India' 'Karnataka 560037'
 'Kerala 683585' 'Chennai. (Near Hotel Matshya)' 'Indirapuram'
 'West Mumbai' 'Begumpet Hyderabad' 'Manikonda'
 'Bangalore land mark above mahaveer hard ware' 'Kerala 682304' 'GST Road'
 'Fort Kochi' 'Lahari Apartments' 'Ramanthapur' 'Mulund west'
 'Gurgaon Haryana India' 'New Delhi..Near by SBI bank' 'Kochi Aluva 102'
 'Hyderabad Manikonda'
 'Mumbai This is a Delivery & Take-away Restaurant only.' '10th avenue'
 'Uppal' 'New Delhi 110075' 'Nizampet' 'Ulsoo' 'Bangalore 560076'
 'PVR plaza cinema building Connaught Place' 'Gurgaon Haryana' 'Chromepet'
 'Kerala 682024' 'Janakpuri' 'Secunderabad.' 'chennai'
 'B.B.M.P East (Karnataka) - 560049' 'Tambaram' 'Malleshwaram Bangalore'
 'Vadapalani.' 'Dist. Center New Delhi' 'Bangalore Road' 'aluva circle'
 'Kochi.' 'Thane Mumbai' 'Vasai west' 'Mig Housing Society' 'Haryana'
 'Borivali West.' 'Golf Course Road' 'Khar Mumbai'
 'Near Jyothinivas College' 'Anna Nagar East' 'Masab Tank']
['Dombivali East' 'Ramapuram' 'Saligramam' ... 'OMR Padur' 'Near Perambur'
 'Near Malviya Nagar']
['3.6' '4.2' '3.8' '4.1' '4.0' '4.3' '3.9' '3.3' '3.4' '4.5' '3.5' '4.4'
 '2.7' '3.7' '4.7' '3.1' '2.5' '4.6' '2.8' '3.0' '3.2' '2.6' '2.9' '4.9'
 '4.8' '2.4' '2.3' '2.0' '2.1' '2.2']
['49 votes' '30 votes' '221 votes' ... '2723 votes' '1426 votes'
 '1214 votes']
[ 1200  1500   800   300   600  1600   200   900  1400   350   500   450
   700   400  1000   250  2000  1100   100   850  2500  1800   150   650
  3500   750   950  1300   180  2100   550  1900  1750  1350    60  2200
  5000    80  3300  3800  1450  4000  2800   120  4500  2400  1700  3000
    50  2600  5200 14000  1550  4200  3700  1150  2700   130  8000  3200
  5500  6500  1050 10000  3600   313  3400  2300  3100  1650  1850  6000
   140  4100  4050  2900   599  1250  7000   299   370  1950   320  1260]

In [318]:
df=df.drop_duplicates()
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...
11388,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546 votes,500
11389,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11390,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608 votes,1300
11391,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32 votes,400
11392,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [319]:
print(df['TITLE'].unique())                 
print(df['CUISINES'].unique())                       
print(df['CITY'].unique())                  
print(df['LOCALITY'].unique())    
print(df['RATING'].unique())         
print(df['VOTES'].unique())         
print(df['COST'].unique())

['CASUAL DINING' 'CASUAL DINING,BAR' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÉ'
 'MICROBREWERY' 'QUICK BITES,BEVERAGE SHOP' 'CASUAL DINING,IRANI CAFE'
 'BAKERY,QUICK BITES' 'None' 'BAR,CASUAL DINING' 'BAR' 'PUB'
 'BEVERAGE SHOP' 'FINE DINING' 'CAFÉ,QUICK BITES'
 'BEVERAGE SHOP,DESSERT PARLOR' 'SWEET SHOP,QUICK BITES'
 'DESSERT PARLOR,SWEET SHOP' 'BAKERY' 'BAKERY,DESSERT PARLOR' 'BAR,LOUNGE'
 'FOOD COURT' 'LOUNGE' 'DESSERT PARLOR,BEVERAGE SHOP'
 'LOUNGE,CASUAL DINING' 'QUICK BITES,FOOD COURT' 'SWEET SHOP'
 'PUB,CASUAL DINING' 'MESS' 'MICROBREWERY,CASUAL DINING'
 'CASUAL DINING,SWEET SHOP' 'KIOSK' 'QUICK BITES,KIOSK' 'CLUB'
 'FINE DINING,BAR' 'DESSERT PARLOR,QUICK BITES' 'FOOD COURT,QUICK BITES'
 'LOUNGE,CAFÉ' 'BAKERY,CONFECTIONERY' 'DHABA' 'CAFÉ,DESSERT PARLOR'
 'CASUAL DINING,CAFÉ' 'QUICK BITES,DESSERT PARLOR' 'PUB,MICROBREWERY'
 'LOUNGE,BAR' 'DESSERT PARLOR,CAFÉ' 'CAFÉ,BAR' 'SWEET SHOP,CONFECTIONERY'
 'CASUAL DINING,PUB' 'MICROBREWERY,BAR' 'QUICK BITES,SWEET SHOP'
 'BEVERAGE SHOP,QUICK BITES' 'CASUAL DINING,LOUNGE' 'QUICK BITES,CAFÉ'
 'BAR,CAFÉ' 'CAFÉ,CASUAL DINING' 'QUICK BITES,CASUAL DINING'
 'CASUAL DINING,MICROBREWERY' 'CASUAL DINING,BAKERY' 'CAFÉ,BAKERY'
 'MEAT SHOP' 'QUICK BITES,BAKERY' 'DESSERT PARLOR,BAKERY'
 'BAR,FINE DINING' 'SWEET SHOP,CASUAL DINING' 'MEAT SHOP,QUICK BITES'
 'FOOD TRUCK' 'PUB,LOUNGE' 'COCKTAIL BAR' 'FINE DINING,LOUNGE'
 'CONFECTIONERY' 'QUICK BITES,BAR' 'BAKERY,FOOD COURT' 'BAKERY,CAFÉ'
 'PUB,BAR' 'DESSERT PARLOR,FOOD COURT' 'QUICK BITES,FOOD TRUCK'
 'BAKERY,BEVERAGE SHOP' 'CLUB,BAR' 'BAKERY,SWEET SHOP'
 'CASUAL DINING,FOOD COURT' 'PAAN SHOP' 'BEVERAGE SHOP,CAFÉ'
 'FOOD COURT,DESSERT PARLOR' 'CLUB,MICROBREWERY' 'CAFÉ,BEVERAGE SHOP'
 'SWEET SHOP,BAKERY' 'DESSERT PARLOR,PAAN SHOP' 'MICROBREWERY,LOUNGE'
 'LOUNGE,CLUB' 'SWEET SHOP,DESSERT PARLOR' 'BAR,PUB'
 'CONFECTIONERY,QUICK BITES' 'DESSERT PARLOR,KIOSK' 'LOUNGE,PUB'
 'SWEET SHOP,BEVERAGE SHOP' 'FINE DINING,CAFÉ'
 'BEVERAGE SHOP,CASUAL DINING' 'KIOSK,QUICK BITES'
 'CASUAL DINING,DESSERT PARLOR' 'LOUNGE,FINE DINING' 'PUB,CAFÉ'
 'CAFÉ,LOUNGE' 'BAR,CLUB' 'COCKTAIL BAR,CASUAL DINING' 'MICROBREWERY,PUB'
 'CASUAL DINING,CLUB' 'KIOSK,FOOD COURT' 'LOUNGE,MICROBREWERY'
 'BAR,MICROBREWERY']
['Malwani, Goan, North Indian' 'Asian, Modern Indian, Japanese'
 'North Indian, Chinese, Biryani, Hyderabadi' ...
 'North Indian, Burger, Kebab' 'Goan, Continental'
 'Finger Food, Continental, Asian, Chinese']
['Thane' 'Chennai' 'Mumbai' 'Bangalore' 'Gurgaon' 'Hyderabad' 'Kochi'
 'Thane West' 'Andheri Lokhandwala' 'New Delhi' 'Andheri West'
 'Malad East' '682036' 'Bangalor' 'Navi Mumbai' 'Bandra West' 'Delhi'
 'Noida' 'Secunderabad' 'India' 'Madhuranagar' 'Chennai Teynampet'
 'Faridabad' 'Chembur.' 'Maharashtra' 'opp gurudwara Shakurpur'
 'Telagana Land Line:040-48507016' 'Ghaziabad' 'Karnataka' 'Kerala'
 'Bengalore' 'Near Reliance Fresh' 'Kilpauk' 'Bengaluru' 'Kothaguda'
 'Goregaon West' 'Banglore' 'Tamil Nadu' 'Kakkanad' 'Outer Ring Road'
 'Mulund East' 'Secunderabad main road near signal NMREC COLLEGE'
 'Telangana' 'Ponnuruni Kochi' 'Gachibowli' 'Semmancheri'
 '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034'
 'Mumbai Mahim' 'Powai (Next to Powai Plaza)' 'Dombivali East' 'Kandivali'
 'Dewan Rama Road' 'Gurugram' 'Sector 51 Noida' 'Besant Nagar'
 'Arumbakkam chennai-600106.' 'Adjacent To Commercial Street' 'Delhi NCR'
 'Dwarka' 'Kalyan West' 'Avadi' 'Kondapur' 'Mehdipatnam' 'Gandipet'
 'Velachery' 'Pallavaram' 'Vijaya Nagar' 'BTM Layout' 'Chennai 600034.'
 'Metro Pillar No 21. Mettuguda main road near railway degree college.'
 'Chennai - 600040' 'JP Nagar Bangalore' 'Madhapur' 'Sarjapur'
 'Whitefield Bangalore' 'Kochi Chullickal' 'Kochi-683101'
 'Bangalore - 560076' 'Rohini' 'Hyderabad Behind Vacs Pastries'
 'Hyderabad neerus emporium.' 'Navi Mumbai.' 'Karol Bagh' 'Perungudi'
 'Thykoodam' 'Greater Noida' 'Bangalore.' 'Khairatabad' 'chullickal'
 'Grant Road West' 'Hitech City' 'West Maredpally' 'Mumbai - 400007'
 'Chennai Padur' 'Chander Nagar New Delhi' 'Nedumbassery' 'MG Road'
 'Naya Nagar Mira Road' 'Pitampura' 'Lower Parel' 'HBR Layout'
 'Telangana 500003' 'Rajiv gandhi Nagar' 'New Delhi.' 'Medavakkam'
 'Sathya Nagar' 'p.o Kochi' 'Behind Ramalayam Temple' 'Palarivattom'
 'Brigade Road' 'Mumbai.' 'Mumbai Andheri East' 'Virar West' 'B-1 Stage'
 'Chennai Kovalam' 'Hyderabad.' 'Aluva' 'Telangana 500034'
 'IOB Bank Kamala Nagar' 'HSR Layout' 'DLF Galleria'
 'Nallathambi Main Road' 'Chennai opp: Vasanth & co' 'Citypark'
 'Karnataka 560103' 'Bhayandar' 'Thammenahalli Village' 'SG Palya'
 'Attapur.' 'Near Shangrilla Bus Stop' 'Khar (west)' 'Road 3' 'Kukatpally'
 'Telangana 500032' 'Dilsukhnagar' 'Mogappair. Chennai' 'Kaloor'
 'Near Munrshwara Temple' 'Off Brigade Road' 'khar west' 'Potheri'
 'Chennai Perungudi' 'Chennai Thuraipakkam' 'OMR Karapakkam'
 'Hyderabad-500032' 'Ernakulam' 'Mumbai Dombivali East'
 'Chennai Thousand Lights' 'Mahim' 'Lingampally' 'Powai'
 'New Delhi-110024' 'Chennai- 600107' 'Vasai West.' 'Thane (W)'
 'Near Santosh Banjara Hyderabad'
 'Banaswadi (Next to Indian Bank) Bangalore' 'BTM Bangalore'
 'Greater Kailash 2 New Delhi' 'Secunderabad ECIL'
 'Bangalore Koramangala 7th Block' 'bangalore : 560085' 'navi mumbai'
 'Gachibowli Hyderabad'
 'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -'
 'ECR NEELANKARAI Chennai 600115' 'ward X11' 'kochi' 'Mira raod east'
 'Chennai.' 'Pokhran Road 2' 'Uttar Pradesh' 'Karnataka 560102'
 'Mumbai - 400013' 'Naharpar' 'Hosur Road' 'Near Bharat Petroleum.'
 'Chennai (Bang Opposite Indian Bank)' 'Sriram nagar' 'Vyttila'
 'Banjara Hills' 'MALAPALLIPURAM P .O THRISSUR' 'Andheri west Mumbai'
 'Karnataka 560043' 'Panampilly Nagar' 'hyderabad' 'Borivali East.' 'ECIL'
 'Jubilee Hills'
 'Amrit kaur market opposite new delhi railway station paharganj'
 'Chennai Opposite 5C Bus stand' 'Telengana' 'Kochi Ravipuram' 'Rajanpada'
 'Mahabalipuram' 'Secunderabad. WE HAVE NO BRANCHES.' 'Telangana 500081'
 'Gurgoan' 'Elamakkara' 'Sector 1' 'Bandra W' 'Kolathur'
 'Chennai Mahabalipuram' '3rd Street' 'Mumbai Chakala' 'Borivali West'
 'Rodeo Drive Sector 49' 'Delhi 110085' 'Sector 51' 'Champapet'
 'Andavar Nagar' 'Bangalore - 560103' 'Edappally'
 'opp mukteshwar ashram powai' 'Nungambakkam' 'BK Guda'
 'Jogeshwari (w) Mumbai' 'Kukatapally' 'Near Sector 110 Noida' 'Navallur'
 'Beside Excellency Gardens' 'Mumbai - 80' 'Begumpet'
 'Maharaja Hotel Beside Gardania Bar' 'Ashok Vihar Phase 1' 'Kochi-18'
 'Narayanguda' 'Thevera' 'Chennai-40' 'Palm Beach Road'
 'East Coast Road (ECR)' 'Ramapuram' 'Chennai Chrompet' 'Nandanam' 'Saket'
 'MG Road Ernakulam' 'Andheri Lokhandwala.' 'Indiranagar' 'Thiruvanmiyur'
 'Ambattur' 'Banglaore' 'Chennai - 34 Landmark - Near Loyola College'
 'Anna Nagar West' 'Old Railway Road' 'East Mumbai'
 'Kanakapura Road Banglore' 'Kochi Kakkanad' 'Kalyan'
 'Near Ramlila Ground' 'Serilingampally' 'Himayath Nagar' 'Nallala Street'
 'Anna Salai' 'Old Delhi' 'Wagle Estate' '1st Stage' 'Kochi-16'
 'First Street' 'Chenn ai' '6 & 7 - 4/64 Subhash Nagar' '1st Tavarekere'
 'Perambur' 'Block F' 'Sector 7 Dwarka' 'Opposite Barathi Gas Company'
 'Vadapalani' 'Kondapur.' 'Badlapur West.' 'Kalamassery' 'Palavakkam'
 'TCS Synergy park' 'Kochi Palarivattom' 'NEW BEL ROAD 560054'
 'Veliaveetil house Vivekananda Nagar Elamakkara' 'Sholinganallur'
 'Maharashtra 400102' 'Lower Parel West' 'Tripunithura' 'Mogappair'
 'Telangana 500070' 'JP Nagar' 'Navi-Mumbai' 'Ashok Nagar' 'Marathahalli'
 'Haridwar Apartments' 'Kerala 682001 India' 'Karnataka 560037'
 'Kerala 683585' 'Chennai. (Near Hotel Matshya)' 'Indirapuram'
 'West Mumbai' 'Begumpet Hyderabad' 'Manikonda'
 'Bangalore land mark above mahaveer hard ware' 'Kerala 682304' 'GST Road'
 'Fort Kochi' 'Lahari Apartments' 'Ramanthapur' 'Mulund west'
 'Gurgaon Haryana India' 'New Delhi..Near by SBI bank' 'Kochi Aluva 102'
 'Hyderabad Manikonda'
 'Mumbai This is a Delivery & Take-away Restaurant only.' '10th avenue'
 'Uppal' 'New Delhi 110075' 'Nizampet' 'Ulsoo' 'Bangalore 560076'
 'PVR plaza cinema building Connaught Place' 'Gurgaon Haryana' 'Chromepet'
 'Kerala 682024' 'Janakpuri' 'Secunderabad.' 'chennai'
 'B.B.M.P East (Karnataka) - 560049' 'Tambaram' 'Malleshwaram Bangalore'
 'Vadapalani.' 'Dist. Center New Delhi' 'Bangalore Road' 'aluva circle'
 'Kochi.' 'Thane Mumbai' 'Vasai west' 'Mig Housing Society' 'Haryana'
 'Borivali West.' 'Golf Course Road' 'Khar Mumbai'
 'Near Jyothinivas College' 'Anna Nagar East' 'Masab Tank']
['Dombivali East' 'Ramapuram' 'Saligramam' ... 'OMR Padur' 'Near Perambur'
 'Near Malviya Nagar']
['3.6' '4.2' '3.8' '4.1' '4.0' '4.3' '3.9' '3.3' '3.4' '4.5' '3.5' '4.4'
 '2.7' '3.7' '4.7' '3.1' '2.5' '4.6' '2.8' '3.0' '3.2' '2.6' '2.9' '4.9'
 '4.8' '2.4' '2.3' '2.0' '2.1' '2.2']
['49 votes' '30 votes' '221 votes' ... '2723 votes' '1426 votes'
 '1214 votes']
[ 1200  1500   800   300   600  1600   200   900  1400   350   500   450
   700   400  1000   250  2000  1100   100   850  2500  1800   150   650
  3500   750   950  1300   180  2100   550  1900  1750  1350    60  2200
  5000    80  3300  3800  1450  4000  2800   120  4500  2400  1700  3000
    50  2600  5200 14000  1550  4200  3700  1150  2700   130  8000  3200
  5500  6500  1050 10000  3600   313  3400  2300  3100  1650  1850  6000
   140  4100  4050  2900   599  1250  7000   299   370  1950   320  1260]

In [320]:
df = df.reset_index(drop=True)
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...
11367,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546 votes,500
11368,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11369,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608 votes,1300
11370,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32 votes,400
11371,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [321]:
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165 votes,300
...,...,...,...,...,...,...,...
11367,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546 votes,500
11368,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214 votes,1800
11369,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608 votes,1300
11370,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32 votes,400
11371,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677 votes,600

In [322]:
print(df['RATING'].unique())

['3.6' '4.2' '3.8' '4.1' '4.0' '4.3' '3.9' '3.3' '3.4' '4.5' '3.5' '4.4'
 '2.7' '3.7' '4.7' '3.1' '2.5' '4.6' '2.8' '3.0' '3.2' '2.6' '2.9' '4.9'
 '4.8' '2.4' '2.3' '2.0' '2.1' '2.2']

In [323]:
df['VOTES'] = df['VOTES'].str.replace(' votes', '').astype(float)
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49.0,1200
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30.0,1500
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221.0,800
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24.0,800
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165.0,300
...,...,...,...,...,...,...,...
11367,QUICK BITES,"North Indian, Burger, Kebab",Hyderabad,Gachibowli,3.8,546.0,500
11368,"CASUAL DINING,BAR","Goan, Continental",Mumbai,Bandra Kurla Complex,4.3,1214.0,1800
11369,LOUNGE,"Finger Food, Continental, Asian, Chinese",Navi Mumbai,Vashi,4.0,608.0,1300
11370,CASUAL DINING,"North Indian, South Indian, Chinese, Street Food",Chennai,Maduravoyal,3.5,32.0,400
11371,CASUAL DINING,"North Indian, Chinese",Hyderabad,Vanasthalipuram,3.4,677.0,600

In [324]:
print(df['TITLE'].unique())                 
print(df['CUISINES'].unique())                       
print(df['CITY'].unique())                  
print(df['LOCALITY'].unique())    
print(df['RATING'].unique())         
print(df['VOTES'].unique())         
print(df['COST'].unique())

['CASUAL DINING' 'CASUAL DINING,BAR' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÉ'
 'MICROBREWERY' 'QUICK BITES,BEVERAGE SHOP' 'CASUAL DINING,IRANI CAFE'
 'BAKERY,QUICK BITES' 'None' 'BAR,CASUAL DINING' 'BAR' 'PUB'
 'BEVERAGE SHOP' 'FINE DINING' 'CAFÉ,QUICK BITES'
 'BEVERAGE SHOP,DESSERT PARLOR' 'SWEET SHOP,QUICK BITES'
 'DESSERT PARLOR,SWEET SHOP' 'BAKERY' 'BAKERY,DESSERT PARLOR' 'BAR,LOUNGE'
 'FOOD COURT' 'LOUNGE' 'DESSERT PARLOR,BEVERAGE SHOP'
 'LOUNGE,CASUAL DINING' 'QUICK BITES,FOOD COURT' 'SWEET SHOP'
 'PUB,CASUAL DINING' 'MESS' 'MICROBREWERY,CASUAL DINING'
 'CASUAL DINING,SWEET SHOP' 'KIOSK' 'QUICK BITES,KIOSK' 'CLUB'
 'FINE DINING,BAR' 'DESSERT PARLOR,QUICK BITES' 'FOOD COURT,QUICK BITES'
 'LOUNGE,CAFÉ' 'BAKERY,CONFECTIONERY' 'DHABA' 'CAFÉ,DESSERT PARLOR'
 'CASUAL DINING,CAFÉ' 'QUICK BITES,DESSERT PARLOR' 'PUB,MICROBREWERY'
 'LOUNGE,BAR' 'DESSERT PARLOR,CAFÉ' 'CAFÉ,BAR' 'SWEET SHOP,CONFECTIONERY'
 'CASUAL DINING,PUB' 'MICROBREWERY,BAR' 'QUICK BITES,SWEET SHOP'
 'BEVERAGE SHOP,QUICK BITES' 'CASUAL DINING,LOUNGE' 'QUICK BITES,CAFÉ'
 'BAR,CAFÉ' 'CAFÉ,CASUAL DINING' 'QUICK BITES,CASUAL DINING'
 'CASUAL DINING,MICROBREWERY' 'CASUAL DINING,BAKERY' 'CAFÉ,BAKERY'
 'MEAT SHOP' 'QUICK BITES,BAKERY' 'DESSERT PARLOR,BAKERY'
 'BAR,FINE DINING' 'SWEET SHOP,CASUAL DINING' 'MEAT SHOP,QUICK BITES'
 'FOOD TRUCK' 'PUB,LOUNGE' 'COCKTAIL BAR' 'FINE DINING,LOUNGE'
 'CONFECTIONERY' 'QUICK BITES,BAR' 'BAKERY,FOOD COURT' 'BAKERY,CAFÉ'
 'PUB,BAR' 'DESSERT PARLOR,FOOD COURT' 'QUICK BITES,FOOD TRUCK'
 'BAKERY,BEVERAGE SHOP' 'CLUB,BAR' 'BAKERY,SWEET SHOP'
 'CASUAL DINING,FOOD COURT' 'PAAN SHOP' 'BEVERAGE SHOP,CAFÉ'
 'FOOD COURT,DESSERT PARLOR' 'CLUB,MICROBREWERY' 'CAFÉ,BEVERAGE SHOP'
 'SWEET SHOP,BAKERY' 'DESSERT PARLOR,PAAN SHOP' 'MICROBREWERY,LOUNGE'
 'LOUNGE,CLUB' 'SWEET SHOP,DESSERT PARLOR' 'BAR,PUB'
 'CONFECTIONERY,QUICK BITES' 'DESSERT PARLOR,KIOSK' 'LOUNGE,PUB'
 'SWEET SHOP,BEVERAGE SHOP' 'FINE DINING,CAFÉ'
 'BEVERAGE SHOP,CASUAL DINING' 'KIOSK,QUICK BITES'
 'CASUAL DINING,DESSERT PARLOR' 'LOUNGE,FINE DINING' 'PUB,CAFÉ'
 'CAFÉ,LOUNGE' 'BAR,CLUB' 'COCKTAIL BAR,CASUAL DINING' 'MICROBREWERY,PUB'
 'CASUAL DINING,CLUB' 'KIOSK,FOOD COURT' 'LOUNGE,MICROBREWERY'
 'BAR,MICROBREWERY']
['Malwani, Goan, North Indian' 'Asian, Modern Indian, Japanese'
 'North Indian, Chinese, Biryani, Hyderabadi' ...
 'North Indian, Burger, Kebab' 'Goan, Continental'
 'Finger Food, Continental, Asian, Chinese']
['Thane' 'Chennai' 'Mumbai' 'Bangalore' 'Gurgaon' 'Hyderabad' 'Kochi'
 'Thane West' 'Andheri Lokhandwala' 'New Delhi' 'Andheri West'
 'Malad East' '682036' 'Bangalor' 'Navi Mumbai' 'Bandra West' 'Delhi'
 'Noida' 'Secunderabad' 'India' 'Madhuranagar' 'Chennai Teynampet'
 'Faridabad' 'Chembur.' 'Maharashtra' 'opp gurudwara Shakurpur'
 'Telagana Land Line:040-48507016' 'Ghaziabad' 'Karnataka' 'Kerala'
 'Bengalore' 'Near Reliance Fresh' 'Kilpauk' 'Bengaluru' 'Kothaguda'
 'Goregaon West' 'Banglore' 'Tamil Nadu' 'Kakkanad' 'Outer Ring Road'
 'Mulund East' 'Secunderabad main road near signal NMREC COLLEGE'
 'Telangana' 'Ponnuruni Kochi' 'Gachibowli' 'Semmancheri'
 '5th Main Teachers Colony Koramangala Block 1 Bangalore 560034'
 'Mumbai Mahim' 'Powai (Next to Powai Plaza)' 'Dombivali East' 'Kandivali'
 'Dewan Rama Road' 'Gurugram' 'Sector 51 Noida' 'Besant Nagar'
 'Arumbakkam chennai-600106.' 'Adjacent To Commercial Street' 'Delhi NCR'
 'Dwarka' 'Kalyan West' 'Avadi' 'Kondapur' 'Mehdipatnam' 'Gandipet'
 'Velachery' 'Pallavaram' 'Vijaya Nagar' 'BTM Layout' 'Chennai 600034.'
 'Metro Pillar No 21. Mettuguda main road near railway degree college.'
 'Chennai - 600040' 'JP Nagar Bangalore' 'Madhapur' 'Sarjapur'
 'Whitefield Bangalore' 'Kochi Chullickal' 'Kochi-683101'
 'Bangalore - 560076' 'Rohini' 'Hyderabad Behind Vacs Pastries'
 'Hyderabad neerus emporium.' 'Navi Mumbai.' 'Karol Bagh' 'Perungudi'
 'Thykoodam' 'Greater Noida' 'Bangalore.' 'Khairatabad' 'chullickal'
 'Grant Road West' 'Hitech City' 'West Maredpally' 'Mumbai - 400007'
 'Chennai Padur' 'Chander Nagar New Delhi' 'Nedumbassery' 'MG Road'
 'Naya Nagar Mira Road' 'Pitampura' 'Lower Parel' 'HBR Layout'
 'Telangana 500003' 'Rajiv gandhi Nagar' 'New Delhi.' 'Medavakkam'
 'Sathya Nagar' 'p.o Kochi' 'Behind Ramalayam Temple' 'Palarivattom'
 'Brigade Road' 'Mumbai.' 'Mumbai Andheri East' 'Virar West' 'B-1 Stage'
 'Chennai Kovalam' 'Hyderabad.' 'Aluva' 'Telangana 500034'
 'IOB Bank Kamala Nagar' 'HSR Layout' 'DLF Galleria'
 'Nallathambi Main Road' 'Chennai opp: Vasanth & co' 'Citypark'
 'Karnataka 560103' 'Bhayandar' 'Thammenahalli Village' 'SG Palya'
 'Attapur.' 'Near Shangrilla Bus Stop' 'Khar (west)' 'Road 3' 'Kukatpally'
 'Telangana 500032' 'Dilsukhnagar' 'Mogappair. Chennai' 'Kaloor'
 'Near Munrshwara Temple' 'Off Brigade Road' 'khar west' 'Potheri'
 'Chennai Perungudi' 'Chennai Thuraipakkam' 'OMR Karapakkam'
 'Hyderabad-500032' 'Ernakulam' 'Mumbai Dombivali East'
 'Chennai Thousand Lights' 'Mahim' 'Lingampally' 'Powai'
 'New Delhi-110024' 'Chennai- 600107' 'Vasai West.' 'Thane (W)'
 'Near Santosh Banjara Hyderabad'
 'Banaswadi (Next to Indian Bank) Bangalore' 'BTM Bangalore'
 'Greater Kailash 2 New Delhi' 'Secunderabad ECIL'
 'Bangalore Koramangala 7th Block' 'bangalore : 560085' 'navi mumbai'
 'Gachibowli Hyderabad'
 'CPR layout harlur main road opposite to ozone ever green apartment Bangalore -'
 'ECR NEELANKARAI Chennai 600115' 'ward X11' 'kochi' 'Mira raod east'
 'Chennai.' 'Pokhran Road 2' 'Uttar Pradesh' 'Karnataka 560102'
 'Mumbai - 400013' 'Naharpar' 'Hosur Road' 'Near Bharat Petroleum.'
 'Chennai (Bang Opposite Indian Bank)' 'Sriram nagar' 'Vyttila'
 'Banjara Hills' 'MALAPALLIPURAM P .O THRISSUR' 'Andheri west Mumbai'
 'Karnataka 560043' 'Panampilly Nagar' 'hyderabad' 'Borivali East.' 'ECIL'
 'Jubilee Hills'
 'Amrit kaur market opposite new delhi railway station paharganj'
 'Chennai Opposite 5C Bus stand' 'Telengana' 'Kochi Ravipuram' 'Rajanpada'
 'Mahabalipuram' 'Secunderabad. WE HAVE NO BRANCHES.' 'Telangana 500081'
 'Gurgoan' 'Elamakkara' 'Sector 1' 'Bandra W' 'Kolathur'
 'Chennai Mahabalipuram' '3rd Street' 'Mumbai Chakala' 'Borivali West'
 'Rodeo Drive Sector 49' 'Delhi 110085' 'Sector 51' 'Champapet'
 'Andavar Nagar' 'Bangalore - 560103' 'Edappally'
 'opp mukteshwar ashram powai' 'Nungambakkam' 'BK Guda'
 'Jogeshwari (w) Mumbai' 'Kukatapally' 'Near Sector 110 Noida' 'Navallur'
 'Beside Excellency Gardens' 'Mumbai - 80' 'Begumpet'
 'Maharaja Hotel Beside Gardania Bar' 'Ashok Vihar Phase 1' 'Kochi-18'
 'Narayanguda' 'Thevera' 'Chennai-40' 'Palm Beach Road'
 'East Coast Road (ECR)' 'Ramapuram' 'Chennai Chrompet' 'Nandanam' 'Saket'
 'MG Road Ernakulam' 'Andheri Lokhandwala.' 'Indiranagar' 'Thiruvanmiyur'
 'Ambattur' 'Banglaore' 'Chennai - 34 Landmark - Near Loyola College'
 'Anna Nagar West' 'Old Railway Road' 'East Mumbai'
 'Kanakapura Road Banglore' 'Kochi Kakkanad' 'Kalyan'
 'Near Ramlila Ground' 'Serilingampally' 'Himayath Nagar' 'Nallala Street'
 'Anna Salai' 'Old Delhi' 'Wagle Estate' '1st Stage' 'Kochi-16'
 'First Street' 'Chenn ai' '6 & 7 - 4/64 Subhash Nagar' '1st Tavarekere'
 'Perambur' 'Block F' 'Sector 7 Dwarka' 'Opposite Barathi Gas Company'
 'Vadapalani' 'Kondapur.' 'Badlapur West.' 'Kalamassery' 'Palavakkam'
 'TCS Synergy park' 'Kochi Palarivattom' 'NEW BEL ROAD 560054'
 'Veliaveetil house Vivekananda Nagar Elamakkara' 'Sholinganallur'
 'Maharashtra 400102' 'Lower Parel West' 'Tripunithura' 'Mogappair'
 'Telangana 500070' 'JP Nagar' 'Navi-Mumbai' 'Ashok Nagar' 'Marathahalli'
 'Haridwar Apartments' 'Kerala 682001 India' 'Karnataka 560037'
 'Kerala 683585' 'Chennai. (Near Hotel Matshya)' 'Indirapuram'
 'West Mumbai' 'Begumpet Hyderabad' 'Manikonda'
 'Bangalore land mark above mahaveer hard ware' 'Kerala 682304' 'GST Road'
 'Fort Kochi' 'Lahari Apartments' 'Ramanthapur' 'Mulund west'
 'Gurgaon Haryana India' 'New Delhi..Near by SBI bank' 'Kochi Aluva 102'
 'Hyderabad Manikonda'
 'Mumbai This is a Delivery & Take-away Restaurant only.' '10th avenue'
 'Uppal' 'New Delhi 110075' 'Nizampet' 'Ulsoo' 'Bangalore 560076'
 'PVR plaza cinema building Connaught Place' 'Gurgaon Haryana' 'Chromepet'
 'Kerala 682024' 'Janakpuri' 'Secunderabad.' 'chennai'
 'B.B.M.P East (Karnataka) - 560049' 'Tambaram' 'Malleshwaram Bangalore'
 'Vadapalani.' 'Dist. Center New Delhi' 'Bangalore Road' 'aluva circle'
 'Kochi.' 'Thane Mumbai' 'Vasai west' 'Mig Housing Society' 'Haryana'
 'Borivali West.' 'Golf Course Road' 'Khar Mumbai'
 'Near Jyothinivas College' 'Anna Nagar East' 'Masab Tank']
['Dombivali East' 'Ramapuram' 'Saligramam' ... 'OMR Padur' 'Near Perambur'
 'Near Malviya Nagar']
['3.6' '4.2' '3.8' '4.1' '4.0' '4.3' '3.9' '3.3' '3.4' '4.5' '3.5' '4.4'
 '2.7' '3.7' '4.7' '3.1' '2.5' '4.6' '2.8' '3.0' '3.2' '2.6' '2.9' '4.9'
 '4.8' '2.4' '2.3' '2.0' '2.1' '2.2']
[  49.   30.  221. ... 2723. 1426. 1214.]
[ 1200  1500   800   300   600  1600   200   900  1400   350   500   450
   700   400  1000   250  2000  1100   100   850  2500  1800   150   650
  3500   750   950  1300   180  2100   550  1900  1750  1350    60  2200
  5000    80  3300  3800  1450  4000  2800   120  4500  2400  1700  3000
    50  2600  5200 14000  1550  4200  3700  1150  2700   130  8000  3200
  5500  6500  1050 10000  3600   313  3400  2300  3100  1650  1850  6000
   140  4100  4050  2900   599  1250  7000   299   370  1950   320  1260]

In [325]:
from sklearn.preprocessing import LabelEncoder          
lb=LabelEncoder()
df['TITLE']=pd.DataFrame(lb.fit_transform(df['TITLE'])) 
df['CUISINES']=pd.DataFrame(lb.fit_transform(df['CUISINES']))
df['CITY']=pd.DataFrame(lb.fit_transform(df['CITY']))
df['LOCALITY']=pd.DataFrame(lb.fit_transform(df['LOCALITY']))
df

       TITLE  CUISINES  CITY  LOCALITY RATING   VOTES  COST
0         29      2463   300       267    3.6    49.0  1200
1         31       275    63       961    4.2    30.0  1500
2         29      2800    63      1015    3.8   221.0   800
3         93      3893   206       128    4.1    24.0   800
4         48      1663   206       573    3.8   165.0   300
...      ...       ...   ...       ...    ...     ...   ...
11367     93      2758   125       318    3.8   546.0   500
11368     31      2017   206       125    4.3  1214.0  1800
11369     69      1963   223      1241    4.0   608.0  1300
11370     29      3305    63       584    3.5    32.0   400
11371     29      2770   125      1232    3.4   677.0   600

[11372 rows x 7 columns]

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11372 entries, 0 to 11371
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     11372 non-null  int32
 1   CUISINES  11372 non-null  int32
 2   CITY      11372 non-null  int32
 3   LOCALITY  11372 non-null  int32
 4   RATING    11372 non-null  object
 5   VOTES     11372 non-null  float64
 6   COST      11372 non-null  int64
dtypes: float64(1), int32(4), int64(1), object(1)
memory usage: 444.3+ KB

In [327]:
df['RATING'] = df['RATING'].astype(float)

In [328]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11372 entries, 0 to 11371
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     11372 non-null  int32
 1   CUISINES  11372 non-null  int32
 2   CITY      11372 non-null  int32
 3   LOCALITY  11372 non-null  int32
 4   RATING    11372 non-null  float64
 5   VOTES     11372 non-null  float64
 6   COST      11372 non-null  int64
dtypes: float64(2), int32(4), int64(1)
memory usage: 444.3 KB

# Splitting Data into Target and Input Variables

In [330]:
df_x=df.drop('COST',axis=1)
df_x.head()

   TITLE  CUISINES  CITY  LOCALITY  RATING  VOTES
0     29      2463   300       267     3.6   49.0
1     31       275    63       961     4.2   30.0
2     29      2800    63      1015     3.8  221.0
3     93      3893   206       128     4.1   24.0
4     48      1663   206       573     3.8  165.0

In [331]:
y=pd.DataFrame(df.COST)
y.head()

   COST
0  1200
1  1500
2   800
3   800
4   300

In [332]:
print(df_x.shape)
print(y.shape)

(11372, 6)
(11372, 1)

In [333]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(df_x)                                # Standard Scaling input variables
x = pd.DataFrame(x,columns=df_x.columns) 
x

          TITLE  CUISINES      CITY  LOCALITY    RATING     VOTES
0     -0.865373  0.313664  2.119763 -0.920472 -0.436111 -0.434894
1     -0.803426 -1.609815 -0.868373  0.967790  0.985411 -0.457350
2     -0.865373  0.609922 -0.868373  1.114715  0.037730 -0.231602
3      1.116937  1.570783  0.934596 -1.298668  0.748491 -0.464442
4     -0.276875 -0.389619  0.934596 -0.087895  0.037730 -0.297790
...         ...       ...       ...       ...       ...       ...
11367  1.116937  0.573000 -0.086666 -0.781709  0.037730  0.152524
11368 -0.803426 -0.078416  0.934596 -1.306830  1.222331  0.942050
11369  0.373571 -0.125887  1.148934  1.729624  0.511570  0.225803
11370 -0.865373  1.053870 -0.868373 -0.057966 -0.673031 -0.454986
11371 -0.865373  0.583549 -0.086666  1.705136 -0.909952  0.307356

[11372 rows x 6 columns]

In [334]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(regr,x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)   
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state,"is",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state,"is",max_r_score)
    return final_r_state

In [335]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()                                   #Applying Linear Regression
r_state=maxr2_score(lreg,x,y)

r2 score corresponding to  42 is 0.14901662985153186
r2 score corresponding to  43 is 0.17858759558703297
r2 score corresponding to  44 is 0.14193741776948565
r2 score corresponding to  45 is 0.18099947981662745
r2 score corresponding to  46 is 0.17603244905872517
r2 score corresponding to  47 is 0.14416423238494958
r2 score corresponding to  48 is 0.1636028035464111
r2 score corresponding to  49 is 0.14592345261600803
r2 score corresponding to  50 is 0.16927662173321867
r2 score corresponding to  51 is 0.18580395758338464
r2 score corresponding to  52 is 0.16640946688307368
r2 score corresponding to  53 is 0.1597936770970717
r2 score corresponding to  54 is 0.17004939091712756
r2 score corresponding to  55 is 0.16636608273889042
r2 score corresponding to  56 is 0.13213677162376103
r2 score corresponding to  57 is 0.17214557511404605
r2 score corresponding to  58 is 0.1415091028177956
r2 score corresponding to  59 is 0.15267383902071208
r2 score corresponding to  60 is 0.18754479180116534
r2 score corresponding to  61 is 0.17068685470582123
r2 score corresponding to  62 is 0.15787226318711878
r2 score corresponding to  63 is 0.18535060047610175
r2 score corresponding to  64 is 0.20984267236673182
r2 score corresponding to  65 is 0.19672410233827853
r2 score corresponding to  66 is 0.199422165338085
r2 score corresponding to  67 is 0.1446805341148112
r2 score corresponding to  68 is 0.16958471749198611
r2 score corresponding to  69 is 0.1457465788838196
r2 score corresponding to  70 is 0.15833425450041405
r2 score corresponding to  71 is 0.1837830630923375
r2 score corresponding to  72 is 0.15993667493328145
r2 score corresponding to  73 is 0.17602128642720194
r2 score corresponding to  74 is 0.14463847251025108
r2 score corresponding to  75 is 0.1772982959665903
r2 score corresponding to  76 is 0.17396095483174967
r2 score corresponding to  77 is 0.14751056487718062
r2 score corresponding to  78 is 0.1916778623933041
r2 score corresponding to  79 is 0.16912992992860554
r2 score corresponding to  80 is 0.17041123359826127
r2 score corresponding to  81 is 0.17009823667377955
r2 score corresponding to  82 is 0.14426227981144069
r2 score corresponding to  83 is 0.1843636112388476
r2 score corresponding to  84 is 0.1681983643024969
r2 score corresponding to  85 is 0.1722612738621755
r2 score corresponding to  86 is 0.14369040827505075
r2 score corresponding to  87 is 0.15646158219124684
r2 score corresponding to  88 is 0.16232072044666757
r2 score corresponding to  89 is 0.17300969067194383
r2 score corresponding to  90 is 0.18756999018244114
r2 score corresponding to  91 is 0.14306031698176058
r2 score corresponding to  92 is 0.14395626714491794
r2 score corresponding to  93 is 0.1479343932383601
r2 score corresponding to  94 is 0.13723219778055196
r2 score corresponding to  95 is 0.17915149546893394
r2 score corresponding to  96 is 0.15012895090474965
r2 score corresponding to  97 is 0.18245083245982896
r2 score corresponding to  98 is 0.18459761976682165
r2 score corresponding to  99 is 0.1953552649056729
max r2 score corresponding to  64 is 0.20984267236673182

In [336]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\hi\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: numpy in c:\users\hi\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\hi\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [337]:
from xgboost import XGBRegressor

In [338]:
xgbr=XGBRegressor()                                                  # Applying XGBoostRegressor
r_state=maxr2_score(xgbr,x,y)

r2 score corresponding to  42 is 0.7507454950596792
r2 score corresponding to  43 is 0.7295902770215867
r2 score corresponding to  44 is 0.6411484911287754
r2 score corresponding to  45 is 0.7217126626826511
r2 score corresponding to  46 is 0.7026860467242508
r2 score corresponding to  47 is 0.6965846091540311
r2 score corresponding to  48 is 0.6871859521956774
r2 score corresponding to  49 is 0.6617988538230011
r2 score corresponding to  50 is 0.7116796629097238
r2 score corresponding to  51 is 0.7290584651790508
r2 score corresponding to  52 is 0.6962420712374137
r2 score corresponding to  53 is 0.6906301457681017
r2 score corresponding to  54 is 0.7380840539324971
r2 score corresponding to  55 is 0.7440590512685379
r2 score corresponding to  56 is 0.6556404446867172
r2 score corresponding to  57 is 0.7335016095609139
r2 score corresponding to  58 is 0.6838331225077096
r2 score corresponding to  59 is 0.6519909405875931
r2 score corresponding to  60 is 0.724731139943783
r2 score corresponding to  61 is 0.7225087038264448
r2 score corresponding to  62 is 0.6478974797312106
r2 score corresponding to  63 is 0.738356192906491
r2 score corresponding to  64 is 0.6833061854276513
r2 score corresponding to  65 is 0.7310502710093878
r2 score corresponding to  66 is 0.7551990156342956
r2 score corresponding to  67 is 0.7421781849317008
r2 score corresponding to  68 is 0.7461033791652187
r2 score corresponding to  69 is 0.7359305435697585
r2 score corresponding to  70 is 0.6703426866618334
r2 score corresponding to  71 is 0.7358247232331666
r2 score corresponding to  72 is 0.6974518978457654
r2 score corresponding to  73 is 0.7395434863475909
r2 score corresponding to  74 is 0.7462750851304669
r2 score corresponding to  75 is 0.7065945411979728
r2 score corresponding to  76 is 0.7292050843745086
r2 score corresponding to  77 is 0.7591031667412278
r2 score corresponding to  78 is 0.729115125756459
r2 score corresponding to  79 is 0.6550231753056261
r2 score corresponding to  80 is 0.742494037087174
r2 score corresponding to  81 is 0.7661958437451071
r2 score corresponding to  82 is 0.6602797086085592
r2 score corresponding to  83 is 0.7482265103705878
r2 score corresponding to  84 is 0.7435408928955316
r2 score corresponding to  85 is 0.734649994943237
r2 score corresponding to  86 is 0.6672964359284359
r2 score corresponding to  87 is 0.6419306211897426
r2 score corresponding to  88 is 0.7374020131331375
r2 score corresponding to  89 is 0.7170505801765149
r2 score corresponding to  90 is 0.743311564125104
r2 score corresponding to  91 is 0.7240563216756385
r2 score corresponding to  92 is 0.636427198104331
r2 score corresponding to  93 is 0.6476788804694423
r2 score corresponding to  94 is 0.6659956425832638
r2 score corresponding to  95 is 0.7511726613409953
r2 score corresponding to  96 is 0.7088762383873612
r2 score corresponding to  97 is 0.7210641088362575
r2 score corresponding to  98 is 0.753150763627707
r2 score corresponding to  99 is 0.7246702282987055
max r2 score corresponding to  81 is 0.7661958437451071

In [339]:
from sklearn.neighbors import KNeighborsRegressor              #Applying KNeighborsRegressor
knr=KNeighborsRegressor(n_neighbors=3) 
r_state=maxr2_score(knr,x,y)

r2 score corresponding to  42 is 0.39521619348601866
r2 score corresponding to  43 is 0.4548755433183679
r2 score corresponding to  44 is 0.2989880444755546
r2 score corresponding to  45 is 0.3281280169674724
r2 score corresponding to  46 is 0.36387442473976594
r2 score corresponding to  47 is 0.3575698379232598
r2 score corresponding to  48 is 0.36484091081745007
r2 score corresponding to  49 is 0.3389361143064392
r2 score corresponding to  50 is 0.39601119789763173
r2 score corresponding to  51 is 0.4091499498116613
r2 score corresponding to  52 is 0.3646564944002144
r2 score corresponding to  53 is 0.3635042273990008
r2 score corresponding to  54 is 0.41866463600451853
r2 score corresponding to  55 is 0.41832623238627287
r2 score corresponding to  56 is 0.2906817689937494
r2 score corresponding to  57 is 0.38457072556175476
r2 score corresponding to  58 is 0.33868703205361506
r2 score corresponding to  59 is 0.3218598473904327
r2 score corresponding to  60 is 0.3841773469489699
r2 score corresponding to  61 is 0.41154413518618616
r2 score corresponding to  62 is 0.27716112170664
r2 score corresponding to  63 is 0.38854330409121096
r2 score corresponding to  64 is 0.44938176525061213
r2 score corresponding to  65 is 0.3364538111927615
r2 score corresponding to  66 is 0.41497758438551924
r2 score corresponding to  67 is 0.40757803247768154
r2 score corresponding to  68 is 0.4075213430404041
r2 score corresponding to  69 is 0.36131494953807586
r2 score corresponding to  70 is 0.324147736369813
r2 score corresponding to  71 is 0.4327812014457617
r2 score corresponding to  72 is 0.40606382700986987
r2 score corresponding to  73 is 0.3797245522415642
r2 score corresponding to  74 is 0.3605633713221085
r2 score corresponding to  75 is 0.4308895191674412
r2 score corresponding to  76 is 0.43284762396605025
r2 score corresponding to  77 is 0.3971512234152075
r2 score corresponding to  78 is 0.3743788789629251
r2 score corresponding to  79 is 0.38618887101476884
r2 score corresponding to  80 is 0.45417349018712183
r2 score corresponding to  81 is 0.45166724611992326
r2 score corresponding to  82 is 0.35983422173236623
r2 score corresponding to  83 is 0.3569299752152715
r2 score corresponding to  84 is 0.3305153290989693
r2 score corresponding to  85 is 0.4053370064775763
r2 score corresponding to  86 is 0.332817106097253
r2 score corresponding to  87 is 0.2927284669785426
r2 score corresponding to  88 is 0.4146254089388298
r2 score corresponding to  89 is 0.29314913310203206
r2 score corresponding to  90 is 0.39903835991089287
r2 score corresponding to  91 is 0.4791305637871879
r2 score corresponding to  92 is 0.2798475038780138
r2 score corresponding to  93 is 0.36797502890933254
r2 score corresponding to  94 is 0.25850358052108946
r2 score corresponding to  95 is 0.3420049739288291
r2 score corresponding to  96 is 0.36637178282937255
r2 score corresponding to  97 is 0.34057566383135596
r2 score corresponding to  98 is 0.26412130716624593
r2 score corresponding to  99 is 0.3474783496881153
max r2 score corresponding to  91 is 0.4791305637871879

In [340]:
from sklearn.linear_model import Lasso         # Applying Lasso Regression
lsreg=Lasso(alpha=0.01)
r_state=maxr2_score(lsreg,x,y)

r2 score corresponding to  42 is 0.14902029980260445
r2 score corresponding to  43 is 0.17858663190413326
r2 score corresponding to  44 is 0.14193768896314296
r2 score corresponding to  45 is 0.18100066123198766
r2 score corresponding to  46 is 0.17603357978674894
r2 score corresponding to  47 is 0.14417206626053813
r2 score corresponding to  48 is 0.1636024075008201
r2 score corresponding to  49 is 0.14592394892653648
r2 score corresponding to  50 is 0.16927693398095411
r2 score corresponding to  51 is 0.1858033566641647
r2 score corresponding to  52 is 0.1664168620821873
r2 score corresponding to  53 is 0.1597937807081169
r2 score corresponding to  54 is 0.1700488915592906
r2 score corresponding to  55 is 0.16637427589859843
r2 score corresponding to  56 is 0.1321410849481044
r2 score corresponding to  57 is 0.17214667922730809
r2 score corresponding to  58 is 0.14151279926659288
r2 score corresponding to  59 is 0.15267310439095694
r2 score corresponding to  60 is 0.18754415489803788
r2 score corresponding to  61 is 0.170687280696183
r2 score corresponding to  62 is 0.1578729478770483
r2 score corresponding to  63 is 0.18535041538086872
r2 score corresponding to  64 is 0.20984188800547698
r2 score corresponding to  65 is 0.19672371767273023
r2 score corresponding to  66 is 0.19942006789273725
r2 score corresponding to  67 is 0.1446890496664721
r2 score corresponding to  68 is 0.1695850142708052
r2 score corresponding to  69 is 0.14575361538006848
r2 score corresponding to  70 is 0.1583341288211897
r2 score corresponding to  71 is 0.1837808657877783
r2 score corresponding to  72 is 0.15993663987139062
r2 score corresponding to  73 is 0.17602107077465057
r2 score corresponding to  74 is 0.14464115586908155
r2 score corresponding to  75 is 0.17729740152738238
r2 score corresponding to  76 is 0.173961176141192
r2 score corresponding to  77 is 0.14751368542975396
r2 score corresponding to  78 is 0.1916786760323712
r2 score corresponding to  79 is 0.16913128041782421
r2 score corresponding to  80 is 0.17041229556831816
r2 score corresponding to  81 is 0.17009742634308078
r2 score corresponding to  82 is 0.14426288939801823
r2 score corresponding to  83 is 0.18436270757700135
r2 score corresponding to  84 is 0.16819800152406716
r2 score corresponding to  85 is 0.1722632094647124
r2 score corresponding to  86 is 0.14369289105421312
r2 score corresponding to  87 is 0.1564623788007421
r2 score corresponding to  88 is 0.16232397608061444
r2 score corresponding to  89 is 0.17301164688040838
r2 score corresponding to  90 is 0.1875692877385159
r2 score corresponding to  91 is 0.1430621656938218
r2 score corresponding to  92 is 0.1439576368383002
r2 score corresponding to  93 is 0.14793347920054334
r2 score corresponding to  94 is 0.13723378617754312
r2 score corresponding to  95 is 0.17914923259484983
r2 score corresponding to  96 is 0.15013612138860988
r2 score corresponding to  97 is 0.182450042707625
r2 score corresponding to  98 is 0.18459533115272142
r2 score corresponding to  99 is 0.19535515900924583
max r2 score corresponding to  64 is 0.20984188800547698

In [341]:
# Prediction of Training Dataset with the best working Model XGBRegressor which is having accuracy score 0.7661958437451071

x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = 81,test_size=0.20)
xgbr.fit(x_train,y_train)
y_pred = xgbr.predict(x_test)  
r2_scr=r2_score(y_test,y_pred) 
print(r2_scr)
print(y_pred)

0.7661958437451071
[ 329.17947 2349.6794  1287.0603  ... 1224.544    429.34866  456.00284]

In [360]:
# saving the Model with XGBoostRegressor
from sklearn.externals import joblib
joblib.dump(xgbr, 'XGBoostRegressor_Restaurant_Food_Cost.pkl')

['XGBoostRegressor_Restaurant_Food_Cost.pkl']

# Working with Test Dataset for prediction

In [342]:
df1 = pd.read_excel(r'C:\Users\Hi\Desktop\Data_Test.xlsx')
df1

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes
4227,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes

In [343]:
df1.isna().sum()

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [344]:
df1=df1.dropna(subset = ['CITY']) 
df1=df1.dropna(subset = ['LOCALITY']) 
df1=df1.dropna(subset = ['RATING']) 
df1=df1.dropna(subset = ['VOTES']) 
df1 = df1.reset_index(drop=True)
df1

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...,...,...
3792,QUICK BITES,1670,"North Indian, Mughlai, Chinese","6am – 12:30AM (Mon, Tue, Wed, Thu, Sat, Sun), ...",Mumbai,Grant Road,4.0,197 votes
3793,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes
3794,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes
3795,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes
3796,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes

In [345]:
df1.isna().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
dtype: int64

In [346]:
df1=df1.drop(['RESTAURANT_ID','TIME'],axis=1)  
df1

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",Noida,Sector 18,4.3,564 votes
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,"North Indian, Seafood, Biryani, Chinese",Mumbai,Marine Lines,3.8,350 votes
3,None,Biryani,Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,"South Indian, Kerala",Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...
3792,QUICK BITES,"North Indian, Mughlai, Chinese",Mumbai,Grant Road,4.0,197 votes
3793,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287 votes
3794,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469 votes
3795,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53 votes
3796,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63 votes

In [347]:
print(df1['TITLE'].unique())                 
print(df1['CUISINES'].unique())                       
print(df1['CITY'].unique())                  
print(df1['LOCALITY'].unique())    
print(df1['RATING'].unique())         
print(df1['VOTES'].unique())

['CASUAL DINING' 'QUICK BITES' 'None' 'FOOD TRUCK,DESSERT PARLOR'
 'DESSERT PARLOR,QUICK BITES' 'CASUAL DINING,BAR' 'LOUNGE' 'BEVERAGE SHOP'
 'CASUAL DINING,PUB' 'DESSERT PARLOR' 'PUB' 'CAFÉ' 'BAKERY' 'LOUNGE,BAR'
 'BAKERY,QUICK BITES' 'SWEET SHOP' 'SWEET SHOP,QUICK BITES'
 'BEVERAGE SHOP,QUICK BITES' 'CAFÉ,QUICK BITES' 'DHABA'
 'QUICK BITES,DESSERT PARLOR' 'FINE DINING' 'IRANI CAFE,BAKERY'
 'PUB,CASUAL DINING' 'BAR' 'FOOD COURT' 'QUICK BITES,SWEET SHOP'
 'CAFÉ,BAR' 'BAR,PUB' 'BAKERY,DESSERT PARLOR' 'KIOSK' 'CAFÉ,BAKERY'
 'CASUAL DINING,BAKERY' 'BAKERY,CAFÉ' 'CASUAL DINING,CAFÉ' 'MESS'
 'BAR,CASUAL DINING' 'BEVERAGE SHOP,CAFÉ' 'BEVERAGE SHOP,DESSERT PARLOR'
 'PUB,FINE DINING' 'CASUAL DINING,FOOD COURT' 'CAFÉ,CASUAL DINING'
 'LOUNGE,CASUAL DINING' 'DESSERT PARLOR,CAFÉ' 'FINE DINING,BAR'
 'CASUAL DINING,SWEET SHOP' 'LOUNGE,FINE DINING' 'MICROBREWERY,PUB'
 'FOOD TRUCK' 'CASUAL DINING,MICROBREWERY' 'CLUB' 'CAFÉ,FOOD COURT'
 'CAFÉ,DESSERT PARLOR' 'MICROBREWERY,CASUAL DINING'
 'DESSERT PARLOR,BAKERY' 'QUICK BITES,BAKERY' 'FINE DINING,MICROBREWERY'
 'CASUAL DINING,LOUNGE' 'CLUB,FINE DINING' 'PUB,MICROBREWERY'
 'SWEET SHOP,DESSERT PARLOR' 'COCKTAIL BAR,CASUAL DINING'
 'DESSERT PARLOR,BEVERAGE SHOP' 'FOOD COURT,QUICK BITES' 'LOUNGE,CLUB'
 'MICROBREWERY' 'DESSERT PARLOR,FOOD COURT' 'PUB,BAR'
 'BAKERY,BEVERAGE SHOP' 'QUICK BITES,MEAT SHOP' 'CAFÉ,LOUNGE'
 'FINE DINING,LOUNGE' 'PAAN SHOP' 'CLUB,CASUAL DINING' 'FINE DINING,CAFÉ'
 'PUB,LOUNGE' 'PUB,CAFÉ' 'BAR,LOUNGE' 'QUICK BITES,BEVERAGE SHOP'
 'QUICK BITES,CASUAL DINING' 'CASUAL DINING,IRANI CAFE' 'CLUB,BAR'
 'BHOJANALYA']
['North Indian, Chinese, Mughlai, Kebab'
 'South Indian, Fast Food, Pizza, North Indian'
 'North Indian, Seafood, Biryani, Chinese' ...
 'Biryani, Hyderabadi, Chinese'
 'South Indian, North Indian, Fast Food, Chinese, Beverages'
 'North Indian, Chinese, Kebab, Juices']
['Noida' 'Mumbai' 'Faridabad' 'Kochi' 'Hyderabad' 'Chennai' 'New Delhi'
 'Bangalore' 'Vasai Mumbai' 'Gurgaon' 'Navi Mumbai' 'Palarivattom'
 'Ernakulam' 'Thane West' 'Ghaziabad' 'Chennai.' 'Thane' 'Telangana'
 'Bandra West' 'Potheri' 'Panathur Main Road' 'Secunderabad' 'JP Nagar'
 'Near Andheri West Station'
 'opposite to western side of ITPL Service gate' 'Kalkaji' 'Bengaluru'
 'APR Chambers' 'Tamil Nadu 600102' 'Andheri West' 'India'
 'Serilingampally' 'Maharashtra.' 'Gandhinagar Rd'
 'Near Andheri East Station' 'HSR Layout' 'Greater Noida' 'Dwarka'
 'Velachery' 'Anna Nagar West' 'Indiranagar' 'Whitefield' 'Kerala 682036'
 'Madhapur' 'Hyderabad.' 'India Gate New Delhi' 'Bangalore - 560095'
 '1st Stage' 'Sholinganallur. Chennai' 'Chennai (Above Bombay Brasserie)'
 'Powai' 'Marathahalli' 'Chennai 37' 'kochi' '682024' 'Tripunithura'
 'Girgaum' 'Greater Kailash 1 (GK 1) New Delhi' 'Kurla (W)'
 'Secunderabad.' 'Thane West Thane West' 'Banjara Hills'
 'Kochi Panampilly Nagar' 'Maharashtra 400092' 'Near Sector 34'
 'Bengalore' 'Mehdipatnam Hyderabad' 'Gurugram' 'Nallagandla' 'Vandalur'
 'Mulund West' 'Chennai 40' 'Delhi' 'Maharashtra' 'Banglore' 'Secunderbad'
 'MM Nagar' 'Mumbai 400070' 'Dilsukhnagar' 'Chittethukkara' 'BTM'
 'Dombivli' 'Sahakara Nagar' 'Mohammad Ali Road Mumbai' 'Chennai 600040'
 'Tavarekere Main Road' 'Community Centre' 'Kakkanad' 'Kerala 682022'
 'Delh.' 'Sector-6 Noida 201301' 'Kaaraikudi Complex'
 'Thiruvanmiyur (Opp Eurokids LB Road)' 'Virar Mumbai' 'Bangalore.'
 'Tolichowki' 'Kochi International Airport VIP Road' 'Hyderaba'
 'Navi Mumbai.' 'Alwarpet' 'Nungambakkam' 'Gachibowli'
 'Mumbai Veera Desai Area' 'Kerala 682028' 'Suraram' 'Chennai Velachery'
 'Forum Sujana Mall Opposite to Malaysian township' 'Old Hafeezpet'
 'Yousufguda' 'Chennai-600008' 'Mumbai Ulhasnagar'
 'Jogeshwari West Mumbai' 'Chepauk' 'Chowpatty' 'Delhi NCR'
 'Church Street' 'Balavinayagar Nagar Chennai' 'RA Puram'
 'Hyderabad.Star hypermarket opposite side Service road'
 'Chennai Injambakkam' 'Mumbai Mumbra' 'Chennai Teynampet' 'Habsiguda'
 'Kurla Mumbai' 'Telangana 500027' 'Kaloor' 'Chenna' 'Kerala 682021'
 'Kochi Ravipuram' 'Kandivali West' 'chennai-119' 'Kerala'
 'Noida Extention' 'Shihab Thangal Road' 'GST Road' 'New Delhi 110011'
 'Miumbai' 'Borivali (W) Mumbai: 400 092.' 'Vanasthalipuram'
 'Chennai - 600018' 'Karnataka' 'Opposite Ellora Building']
['Sector 18' 'Grant Road' 'Marine Lines' 'NIT' 'Kaloor' 'Banjara Hills'
 'Navalur' 'IP Extension' 'Palarivattom' 'Electronic City' 'West Mambalam'
 'Worli' 'Ulsoor' 'Abids' 'MG Road' 'Dahisar West' 'Vijay Nagar' 'Fort'
 'East' 'DLF Phase 4' 'Jubilee Hills' 'Sector 15' 'Elamkulam' 'Aluva'
 'Indiranagar' 'Marol' 'Whitefield' 'Fort Kochi' 'Film Nagar' 'Kharghar'
 'Bandra Kurla Complex' 'Marathahalli' 'Dombivali East'
 'N.W.A Punjabi Bagh' 'Kodambakkam' 'Anna Nagar West' 'Sarjapur Road'
 'Tripunithura' 'Matunga East' 'Kathrikadavu' 'Mylapore' 'Kakkanad'
 'Malakpet' 'Kandivali West' 'Sector 31' 'Kalyan East' 'Necklace Road'
 'Sector 49' 'Miyapur' 'Ashok Nagar' 'BTM' 'Aerocity' 'Purasavakkam'
 'Srinagar Colony' 'Madhapur' 'Kalyan' 'Subhash Nagar'
 '35/581&582 Janatha Junction' 'Krishna Nagar' 'Chanakyapuri'
 'Vasant Vihar' 'Indirapuram' 'Ghatkopar East' 'Anna nagar'
 'Bannerghatta Road' 'Parel' 'Colaba'
 'Opposite New Panjabi Hotel Old Airport Road' 'Jama Masjid' 'Egmore'
 'Old Railway Road' 'Kurla' 'Andheri West' 'Thane West' 'Secunderabad'
 'Gachibowli' 'Kilpauk' 'Kolathur' 'Koramangala 5th Block' 'Washermenpet'
 'Maduravoyal' 'Thousand Lights' 'Ambattur' 'Guduvancherry' 'Azad Nagar'
 'Thiruvanmiyur' 'Palam Vihar' 'Shalimar Bagh' 'Chandrayanagutta'
 'Chembur' 'Vasant Kunj' 'Velachery' 'Marine Drive' 'Breach Candy'
 'Sector 22' 'Kalamassery' 'Linking Road' 'Koramangala 4th Block'
 'Kandivali East' 'Mulund West' 'Rajouri Garden' 'Suraram' 'Chengalpattu'
 'Goregaon East' 'Anna Nagar East' 'Pitampura' 'Anna Nagar' 'Porur'
 'Mehdipatnam' 'Ernakulam' 'Basavanagudi' 'Koramangala 7th Block' 'Powai'
 'Mohammad Ali Road' 'Vile Parle East' 'Jeevan Bhima Nagar' 'Anna Street'
 'kadubeesanahalli' 'Elphinstone' 'Attapur' 'Karkhana' 'Injambakkam'
 'Telangana S R Nagar' 'New Perungalathur' 'Nungambakkam' 'RA Puram'
 'Bhayandar' 'Lodhi Colony' 'Old Airport Road' 'Royapettah' 'Kirti Nagar'
 'Vashi' 'K.K. Nagar' 'Dadar East' 'Kompally' 'Phase 5' 'Vasai' 'Akkarai'
 'Race Course Road' 'Opposite National Shopping Centre' 'Vyttila'
 'Residency Road' 'Hyderabad' 'Munirka' 'Mayur Vihar Phase 2'
 'Mayur Vihar Phase 1' 'Ghansoli' 'Kukatpally' 'Uttam Nagar' 'Sector 55'
 'Tolichowki' 'Alwarpet' 'Kelambakkam' 'Mira Road' 'Karkardooma'
 'Malleshwaram' 'Near Sector 110' 'Malad West' 'Chandivali' 'Padur'
 'Kothaguda' 'Greater Kailash 1 (GK1)' 'Karapakkam' 'Kalyan Nagar' 'Mahim'
 'Near Deshbandhu College' 'Telangana 500001' 'Jayanagar'
 'Greater Kailash (GK) 1' 'Near Sohna Road' 'Hitech City' 'Trimulgherry'
 'Bommanahalli' 'Guindy' 'Edappally' 'Surya Nagar' 'Vanasthalipuram'
 'Kondapur' 'Koramangala' 'Plot 22 Sector 135' 'Pallimukku' 'Chanda Nagar'
 'Ghatkopar West' 'Saidapet' 'T. Nagar' 'Indira Nagar' 'Triplicane'
 'Satyaniketan' 'Greater Noida' 'Brookefield' 'House 3-5-909/B/1'
 'Chennai' 'Parrys' 'Chowpatty' 'West Mogappair' 'Shamirpet' 'Sainikpuri'
 'Vadapalani' 'Delhi University-GTB Nagar' 'Jeedimetla' 'Medavakkam'
 'Malviya Nagar' 'Golf Course Road' 'Banaswadi' 'Navallur' 'Daryaganj'
 'L B Nagar' 'Hennur' 'DLF Cyber City' 'Moti Nagar' 'Angamali'
 '7 Bungalows' 'Sadashiv Nagar' 'Vypin' 'Bellandur' 'Lower Parel'
 'Willingdon Island' 'Lajpat Nagar 2' 'Koramangala 6th Block'
 'Lingampally' 'Kamla Nagar' 'Sector 62' 'Kumaraswamy Layout'
 'Dahisar East' 'Saket' 'Mattancherry' 'Sector 29' 'Amberpet'
 'Telangana 500081' 'Habsiguda' 'Sector 72' 'CBD-Belapur' 'Kalbadevi'
 'Gachibowli-Kondapur Road' 'Yeshwantpur' 'Sainik Farms' 'Thane'
 'New Friends Colony' 'Bandra West' 'Yelahanka' 'Majiwada' 'Adambakkam'
 'S P Road' 'Vasai West' 'JP Nagar' 'Himayath Nagar' 'Selaiyur'
 'Kaggadasapura' 'Potheri' 'HSR Layout' 'Adyar' 'Thuraipakkam'
 'Kadavanthra' 'Pallavaram' '38/72 B1' 'HSR' 'Ameerpet' 'Near Sector 45'
 'Paradise Circle' 'Church Street' 'Sector 132' 'Byculla' 'Sector 50'
 'Paschim Vihar' 'Mogappair' 'Tambaram' 'Juhu' 'Panampilly Nagar' 'Dwarka'
 'Borivali West' 'Chittoor Road' 'Chromepet' 'Safdarjung' 'Gopalapuram'
 'Domlur' 'Besant Nagar' 'ECIL' 'Sector 14' 'Kopar Khairane'
 'Connaught Place' 'Santacruz West' 'St. Thomas Mount' 'Somajiguda'
 'Model Town 1' 'Defence Colony' 'Old Nagardas Road' 'Perambur'
 'Goregaon West' 'Prabhadevi' 'Panjagutta' 'Padmarao Nagar' 'Seawoods'
 'GST Road' 'Frazer Town' 'Sector 1' 'Shamshabad' 'Gaur City 1'
 'Telangana 500047' 'Sector 7' 'Mahabalipuram' 'Sholinganallur' 'S D Road'
 'Banashankari' 'Choolaimedu' 'West Patel Nagar' 'East Patel Nagar'
 'South Extension 2' 'Malkajgiri' 'Majestic' '16th cross' 'Airoli'
 'Semmancheri' 'Sector 12' 'Mahipalpur'
 'Near Cochin International Airport Nedumbassery' 'Rajarajeshwari Nagar'
 'Royapuram' 'Jose Junction' 'Ravipuram' 'Madipakkam' 'Lakdikapul'
 'S R Nagar' 'Kadavanthara' 'Koramangala 1st Block' 'Tarnaka'
 'Rajajinagar' 'Borivali East' 'Sushant Lok' 'Janakpuri' 'A S Rao Nagar'
 'Jangpura' 'Sector 4' 'SDA' 'Kanchipuram District' 'Nagarbhavi'
 'Manikonda' '7th main HAL 2nd stage' 'Paharganj' 'Dadar West'
 'ITPL Main Road' 'Raj Nagar' 'Koyambedu' 'Hauz Khas Village'
 'Mumbai Central' 'Khairatabad' 'Andheri Lokhandwala' 'Begumpet'
 'Sector 38' 'Palam' 'Perungudi' 'Panch Pakhadi' 'Dilsukhnagar' 'Nagole'
 'Veera Desai Area' 'Manpada' 'Chetpet' 'Kochi' 'Neredmet' 'Rohini'
 'Nallakunta' 'Naupada' 'Dwaraka Nagar Colony' 'Sector 63' 'Virar'
 'Vennala' '4th phase' 'Andheri East' 'Kothapet' 'Majnu ka Tila'
 'Nagawara' 'Kalkaji' 'Wallace garden 3rd street Nungambakkam' 'Shahdara'
 'Musheerabad' 'Mahakali' 'Ramapuram' 'Kacheripady' 'Nampally'
 'Netaji Subhash Place' 'Pandara Road' 'Chakala' 'Gandipet' 'Narayanguda'
 'George Town' 'Uppal' 'DLF Phase 3' 'Vile Parle West'
 'Utsav Chowk Kharghar' 'Marad' 'Khar' 'Sarojini Nagar' 'Muttukadu'
 'Jalahalli' 'East Coast Road (ECR)' 'Sector 19' 'Girgaum' 'Hauz Khas'
 'Tardeo' 'Crossing Republik' 'Marredpally' 'Hafeezpet' 'Neelangarai'
 'East Krishna Nagar' 'Near Charminar' 'Falaknuma' 'Karol Bagh'
 'Pali Hill' 'Nalasopara' 'Laxmi Nagar' 'Punjabi Bagh' 'Geeta Colony'
 'Lajpat Nagar 1' 'Sector 83' 'Kammanahalli' 'PG Road' 'Egatoor'
 'South City 2' 'Lavelle Road' 'Maruthi Nagar Main Road' 'CBD Belapur'
 'Nerul' 'New Panvel' 'Charminar' 'Jogeshwari' 'Tilak Nagar'
 'Hiranandani Gardens' 'Munnekolal' 'Badkal Lake' 'Mayur Vihar'
 'Opposite 10th Avenue Gaur City 2' 'HBR Layout' 'Avadi' 'Juhu Road'
 'Near PVR Plaza' 'Patparganj' 'Janpath' 'kakkanad' 'Sarita Vihar'
 'Adikmet' 'Moosapet' 'Thippasandra' 'Old Madras Road' 'Churchgate'
 'Khel Gaon Marg' 'Richmond Road' 'Seshadripuram' 'Mandi House' 'Vaishali'
 'Vivek Vihar' 'Puthiya Road' 'Sector 10'
 'Chandras Complex Near Flyover Bridge Annojiguda' 'Chowpatty Bridge'
 'Greater Kailash 1 (GK 1)' 'Charni Road' 'GK 1' 'Saroor Nagar'
 'Dadar Shivaji Park' 'R-5' 'Sakinaka' 'Oshiwara' 'Vikaspuri'
 'Cunningham Road' 'Opp. Kalpana Talkies' 'DLF Phase 2' 'Nanganallur'
 'Rajendra Place' 'Anand Vihar' 'Secunderabad Division' 'Sohna Road'
 'Masab Tank' 'Nacharam' 'Santacruz East' 'Taramani' 'Versova'
 'Green Valley' 'Anna Salai' 'Elamakkara' 'Govind Puram' 'Nizampet'
 'Mulund East' 'Block A Kalkaji' 'Brigade Road' 'Near Sector 72'
 'Kanakapura Road' 'Mumbai' 'Sector 32' 'Reclamation'
 'Koramangala 3rd Block' 'New BEL Road' 'Rajaji Nagar' 'DLF Phase 1'
 'Castle Mill' 'Kerala' 'Pillar 76' 'Near Andheri West Station'
 'Golf Course Extension Road' 'Manjeera Diamond Entrance Road'
 'BTM 2nd Stage' 'Valasaravakkam' 'Mayapuri Phase 2' 'M.G. Road'
 'Gaddanaram' 'Lajpat Nagar 4' 'Preet Vihar' 'Near Panch Rasta' 'SR Nagar'
 'Amar Colony' 'Ashok Vihar Phase 1' 'Kamothe' 'Shenoy Nagar'
 'East of Kailash' 'Anna nagar East' 'RDC Raj Nagar'
 'N Block Connaught Place' 'Nehru Place' 'Thopumpady' 'Turbe' 'Kovalam'
 'Sector 6' 'Ignou Main Road Sainik Farms' 'Mira Road East' 'Kacheguda'
 'Hill Road' 'Sector 110' 'Near Pallimukku' 'Mysore Road' 'Saligramam'
 'Sion' 'Koramangala 8th Block' 'Vikhroli East' 'Bandra East' 'Koti'
 'RT Nagar' 'Sector 37' 'Vandalur' 'Koramangala 2nd Block'
 'Greater Kailash 2 (GK2)' 'Prashant Vihar' 'Thevera' 'Chittaranjan Park'
 'Vazhakkala' 'Mahesh Nagar Radhika circle A S Rao Nagar'
 'Kanakapura Main Road' 'Sunder Nagar' 'Telangana 500082'
 'No 1 Sri Vari Nagar Fortune Select Grand Hotel - GST Road SP Koil'
 'Vijaya Nagar' 'Mallapur' 'Basheer Bagh' 'Gaur City 2' 'Kurla west'
 'lane besides to King’s Burger. Next to nellore mess' 'Janak Puri'
 'Alandur' 'Medchal Road' 'Telangana' 'Sector 30' 'Pallikaranai'
 'Mahalaxmi' 'Chandni Chowk' 'Aminijikarai' 'Seaport - Airport Road'
 'Langer Houz' 'Yapral' 'Ekkaduthangal' 'Bannergatta Road' '2nd Stage'
 'Sector 16' 'Bowenpally' 'Cuffe Parade' 'Bangalore' 'Pandav Nagar'
 'Near Kodihalli Masjid' 'Panchsheel Park' 'Poonamalle' 'Dombivli East'
 'Jasola' 'Off Kodigehalli Main Road' 'Patka Manzil Bhindi Bazar'
 'Pragati Maidan' 'Dombivali West' 'Arumbakkam' 'Jail Road' 'Makana Tower'
 'Teynampet' 'Model Town 2' 'Near Tripunithura' 'PVR Anupam Complex'
 'Vikhroli' 'Indranagar' 'Bhandup' '5th Block Jayanagar' 'Rajinder Nagar'
 'Greater Kailash (GK) 3' 'Near Pitampura' 'ITO' 'Kasarvadavli'
 'Basaveshwara Nagar' 'Geetanjali Enclave' 'Sahakara Nagar'
 'Off Brigade Road' 'Mayapuri Phase 1' 'Moosarambagh' 'Chunabhatti East'
 'Thaikkavu Aluva 6' 'Kuzhikattumoola' 'Barakhamba Road'
 'Vengalarao S R Nagar' 'T.Nagar' 'Rammurthy Nagar' 'Mukherjee Nagar'
 'B-28' 'Lado Sarai' 'Dr. Radhakrishnan Salai' 'Nandanam' 'Andheri'
 'New Ashok Nagar Main Matrket Mayur Vihar Phase 1' 'Gole Market' 'Alwal'
 'Alaknanda' 'Naraina' 'Sector 11' 'Near Andheri East Station' 'Sector 41'
 '17 Malaviya Avenue' 'Tirupati Nagar' 'Nedumbassery'
 'Opposite DLF City Court DLF Phase 2' 'Market Lane Borivali West'
 'Sikanderpur' 'Sheikpet' 'Kerala 682034' 'Courtyard by Marriott'
 '(ground floor of Sunrise Chambers)' 'Infantry Road'
 'Near Andheri Lokhandwala' 'Gujranwala Town' 'Satya Niketan'
 'Ramanthapur' 'Nariman Point' 'T.T.K Road'
 'Chennai Opposite the MRF Building' 'Jayanagar 4 th Block'
 'Okhla Phase 2' 'Vasundhara' 'Railway Station Road' 'Wilson Garden'
 'Virar West' 'Kumbalangi' 'Mogappair East' 'A Block Preet Vihar'
 'Suraram Main Road' 'Near Sector 132' 'Anna Nagar Chennai'
 'Ernakulam Circle' 'Virugambakkam' 'CV Raman Nagar' 'Shop No - VG 16'
 'Tamil Nadu 600006' 'Infopark - Smart City Short Road' 'KR Puram'
 'Khan Market' 'Mehrauli' 'Beside ESSR Petrol pump' 'Srinagar Colony Road'
 'Chinchpokli' 'Sector 28' 'Outer Circle Connaught Place' 'Adchini'
 'Near Saroor Nagar' 'Sector 26' 'Ulhasnagar' 'S Block DLF Phase 3'
 'Sowcarpet' 'Sector 8' 'New link Rd Oshiwara' 'CNK Salai' 'Green Park'
 'Sector 54' 'Hiranandani Estate' 'Opposite Stella Petrol Pump Vasai'
 'Thoraipakkam' 'Sector 25' 'Sector 15 Part 1' 'Sector 27'
 'Opposite Opera House' 'Sector 44' 'MRC Nagar' 'Shakarpur' 'Ghaziabad'
 'Chittethukara' 'Yousufguda' 'Cherlapalli' '33' 'Marve' 'Kotturpuram'
 'Bangalore Road' 'Near Mahindra World City' 'A yyavoo Colony' 'Kalwa'
 'Malleswaram' '7th Sector HSR' 'Jubilee hills' 'Sector 56'
 'Govindaswamy Nagar' 'Chullickal' 'International Airport' 'Ghansi Bazaar'
 'Kondapur X Roads Kondapur' 'Mumbra' 'Sector 21' 'West Jogeshwar'
 'Near Sector 31' 'Edappally Toll' 'LBS BKC Junction'
 'Opposite Private Bus Stand' 'Bhayandar East' '4 Bungalows'
 'Near Sector 34' 'Greater Kailash 2 (GK 2)' 'St. Marks Road' 'New Delhi'
 'Vepery' 'Kaushambi' 'Near Kundanahalli Signal' 'Adayar' 'Mahavir Nagar'
 'Near Sector 50' 'P.O Kakkanad' 'Venkatagiri Jubilee Hills'
 'J.N Road Anna Nagar West' 'Sector 53' 'Sikandarpur' 'Banjara hills'
 'sholinganallur' 'Erragadda' 'North Railway station' 'Chander Nagar'
 'Cherry County' 'Near Apollo H' '7th Phase' 'PWD Quarters' 'Poonithura'
 'Mazgaon' 'Near Karol Bagh' 'Tagore Garden' 'Near Passport Office'
 'Sector 45' 'Jogeshwari West' 'North Kalamassery' 'Thrikkakara Circle'
 'Lajpat Nagar 3' 'Guduvanchery' 'Old Bowenpally' 'Thiruvallur'
 'Aurangzeb Road' 'Nehru Nagar' 'phase 3' 'Kacharakkanahalli'
 'Beside Aditya Hospital Dwarakanagar colony H.S Darga Banjara Hills'
 'Mumbai CST Area' 'Chawri Bazar' 'Sector 23' 'Chandavarkar Road'
 'Near Vikaspuri' 'BN Reddy Nagar' 'Kadavanthra Part 1'
 '20/718 (Old No 12/275) Railway Station Road Aluva' '5th Phase'
 'Shahpur Jat' 'Thane west' 'Bengaluru' 'Off Carter Road' 'SRM Back Gate'
 'Sector 86' 'Perry Cross Road']
['4.3' '4.2' '3.8' '3.6' '3.7' '4.0' '3.4' '3.2' '4.1' '3.0' '3.5' '4.5'
 '3.9' '3.3' '2.9' '3.1' '2.5' '2.8' '4.6' '4.4' '2.7' '4.8' '2.6' '4.9'
 '2.1' '4.7' '2.3' '2.4' '2.2']
['564 votes' '61 votes' '350 votes' ... '1697 votes' '749 votes'
 '1239 votes']

In [348]:
df1=df1.drop_duplicates()

df1

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",Noida,Sector 18,4.3,564 votes
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,"North Indian, Seafood, Biryani, Chinese",Mumbai,Marine Lines,3.8,350 votes
3,None,Biryani,Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,"South Indian, Kerala",Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...
3792,QUICK BITES,"North Indian, Mughlai, Chinese",Mumbai,Grant Road,4.0,197 votes
3793,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287 votes
3794,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469 votes
3795,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53 votes
3796,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63 votes

In [349]:
df1 = df1.reset_index(drop=True)
df1

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",Noida,Sector 18,4.3,564 votes
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,"North Indian, Seafood, Biryani, Chinese",Mumbai,Marine Lines,3.8,350 votes
3,None,Biryani,Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,"South Indian, Kerala",Kochi,Kaloor,3.6,23 votes
...,...,...,...,...,...,...
3791,QUICK BITES,"North Indian, Mughlai, Chinese",Mumbai,Grant Road,4.0,197 votes
3792,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287 votes
3793,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469 votes
3794,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53 votes
3795,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63 votes

In [350]:
df1['VOTES'] = df1['VOTES'].str.replace(' votes', '').astype(float)
df1

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,"North Indian, Chinese, Mughlai, Kebab",Noida,Sector 18,4.3,564.0
1,QUICK BITES,"South Indian, Fast Food, Pizza, North Indian",Mumbai,Grant Road,4.2,61.0
2,CASUAL DINING,"North Indian, Seafood, Biryani, Chinese",Mumbai,Marine Lines,3.8,350.0
3,None,Biryani,Faridabad,NIT,3.8,1445.0
4,QUICK BITES,"South Indian, Kerala",Kochi,Kaloor,3.6,23.0
...,...,...,...,...,...,...
3791,QUICK BITES,"North Indian, Mughlai, Chinese",Mumbai,Grant Road,4.0,197.0
3792,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287.0
3793,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469.0
3794,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53.0
3795,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63.0

In [351]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     3796 non-null   object
 1   CUISINES  3796 non-null   object
 2   CITY      3796 non-null   object
 3   LOCALITY  3796 non-null   object
 4   RATING    3796 non-null   object
 5   VOTES     3796 non-null   float64
dtypes: float64(1), object(5)
memory usage: 178.1+ KB

In [352]:
from sklearn.preprocessing import LabelEncoder          
lb=LabelEncoder()
df1['TITLE']=pd.DataFrame(lb.fit_transform(df1['TITLE'])) 
df1['CUISINES']=pd.DataFrame(lb.fit_transform(df1['CUISINES']))
df1['CITY']=pd.DataFrame(lb.fit_transform(df1['CITY']))
df1['LOCALITY']=pd.DataFrame(lb.fit_transform(df1['LOCALITY']))
df1

      TITLE  CUISINES  CITY  LOCALITY RATING   VOTES
0        22      1210   103       619    4.3   564.0
1        73      1528    90       208    4.2    61.0
2        22      1368    90       388    3.8   350.0
3        64       190    41       433    3.8  1445.0
4        73      1532    74       283    3.6    23.0
...     ...       ...   ...       ...    ...     ...
3791     73      1339    90       208    4.0   197.0
3792     22      1339   101       557    3.9   287.0
3793     64       246     9       224    4.3   469.0
3794     73       635    41       651    3.7    53.0
3795     73      1071     8       542    3.7    63.0

[3796 rows x 6 columns]

In [353]:
df1['RATING'] = df1['RATING'].astype(float)

In [354]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TITLE     3796 non-null   int32
 1   CUISINES  3796 non-null   int32
 2   CITY      3796 non-null   int32
 3   LOCALITY  3796 non-null   int32
 4   RATING    3796 non-null   float64
 5   VOTES     3796 non-null   float64
dtypes: float64(2), int32(4)
memory usage: 118.8 KB

In [355]:
print(df1.shape)

(3796, 6)

In [356]:
df_x1=df1           # putting test_x data into another variable
df_x1

      TITLE  CUISINES  CITY  LOCALITY  RATING   VOTES
0        22      1210   103       619     4.3   564.0
1        73      1528    90       208     4.2    61.0
2        22      1368    90       388     3.8   350.0
3        64       190    41       433     3.8  1445.0
4        73      1532    74       283     3.6    23.0
...     ...       ...   ...       ...     ...     ...
3791     73      1339    90       208     4.0   197.0
3792     22      1339   101       557     3.9   287.0
3793     64       246     9       224     4.3   469.0
3794     73       635    41       651     3.7    53.0
3795     73      1071     8       542     3.7    63.0

[3796 rows x 6 columns]

In [357]:
from sklearn.preprocessing import StandardScaler          # Standard scaling input variables
sc = StandardScaler()
x1 = sc.fit_transform(df_x1) 
x1 = pd.DataFrame(x1,columns=df_x1.columns) 
x1

         TITLE  CUISINES      CITY  LOCALITY    RATING     VOTES
0    -0.839927  0.718567  1.327734  1.181529  1.200058  0.159141
1     1.138207  1.396547  0.969163 -0.685600  0.969030 -0.443761
2    -0.839927  1.055425  0.969163  0.132121  0.044915 -0.097362
3     0.789124 -1.456084 -0.382375  0.336551  0.044915  1.215118
4     1.138207  1.405075  0.527844 -0.344883 -0.417142 -0.489308
...        ...       ...       ...       ...       ...       ...
3791  1.138207  0.993596  0.969163 -0.685600  0.506973 -0.280750
3792 -0.839927  0.993596  1.272569  0.899870  0.275944 -0.172875
3793  0.789124 -1.336692 -1.265012 -0.612913  1.200058  0.045273
3794  1.138207 -0.507339 -0.382375  1.326902 -0.186113 -0.453350
3795  1.138207  0.422217 -1.292595  0.831726 -0.186113 -0.441364

[3796 rows x 6 columns]

In [358]:
test_dataset_x=x1                #s test_dataset_x is for prediction
test_dataset_x

         TITLE  CUISINES      CITY  LOCALITY    RATING     VOTES
0    -0.839927  0.718567  1.327734  1.181529  1.200058  0.159141
1     1.138207  1.396547  0.969163 -0.685600  0.969030 -0.443761
2    -0.839927  1.055425  0.969163  0.132121  0.044915 -0.097362
3     0.789124 -1.456084 -0.382375  0.336551  0.044915  1.215118
4     1.138207  1.405075  0.527844 -0.344883 -0.417142 -0.489308
...        ...       ...       ...       ...       ...       ...
3791  1.138207  0.993596  0.969163 -0.685600  0.506973 -0.280750
3792 -0.839927  0.993596  1.272569  0.899870  0.275944 -0.172875
3793  0.789124 -1.336692 -1.265012 -0.612913  1.200058  0.045273
3794  1.138207 -0.507339 -0.382375  1.326902 -0.186113 -0.453350
3795  1.138207  0.422217 -1.292595  0.831726 -0.186113 -0.441364

[3796 rows x 6 columns]

In [359]:
# Prediction of Test Dataset with the best working Model XGBRegressor which is having accuracy score 0.7661958437451071

y_pred2 = xgbr.predict(test_dataset_x)  
print(y_pred2)

[ 941.76996  391.10583  631.27    ... 1384.2555   363.721    484.91055]