In [375]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import warnings
warnings.filterwarnings('ignore')

In [376]:
df = pd.read_excel(r'C:\Users\Hi\Desktop\Data_Train_Flight_Price.xlsx')
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [377]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [378]:
df=df.dropna(subset = ['Route']) 
df=df.dropna(subset = ['Total_Stops'])    #drop missing values wrt Route and Total_Stops
df = df.reset_index(drop=True)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10677,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10678,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10679,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10680,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10681,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [379]:
df=df.drop_duplicates()
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10677,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10678,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10679,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10680,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10681,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [380]:
df = df.reset_index(drop=True)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10458,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10459,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10460,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10461,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10462 entries, 0 to 10461
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10462 non-null  object
 1   Date_of_Journey  10462 non-null  object
 2   Source           10462 non-null  object
 3   Destination      10462 non-null  object
 4   Route            10462 non-null  object
 5   Dep_Time         10462 non-null  object
 6   Arrival_Time     10462 non-null  object
 7   Duration         10462 non-null  object
 8   Total_Stops      10462 non-null  object
 9   Additional_Info  10462 non-null  object
 10  Price            10462 non-null  int64
dtypes: int64(1), object(10)
memory usage: 899.2+ KB

In [382]:
df["Weekend"] = ((pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int) #converting string or object type to datetime 
df["Day_of_Week"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.day_name()     #finding day of the week
df["Day_Of_Journey"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.day       #finding day of the month
df["Month_of_Journey"] = pd.to_datetime(df["Date_of_Journey"], format = '%d/%m/%Y').dt.month   # finding month of the year
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,1,Sunday,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0,Wednesday,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,1,Sunday,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,1,Sunday,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,0,Friday,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,0,Tuesday,9,4
10458,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,1,Saturday,27,4
10459,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,1,Saturday,27,4
10460,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,0,Friday,1,3
10461,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,0,Thursday,9,5

In [383]:
df=df.drop(['Date_of_Journey'],axis=1)  
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,1,Sunday,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0,Wednesday,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,1,Sunday,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,1,Sunday,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,0,Friday,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,0,Tuesday,9,4
10458,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,1,Saturday,27,4
10459,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,1,Saturday,27,4
10460,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,0,Friday,1,3
10461,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,0,Thursday,9,5

In [385]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,1,Sunday,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0,Wednesday,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,1,Sunday,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,1,Sunday,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,0,Friday,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,0,Tuesday,9,4
10458,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,1,Saturday,27,4
10459,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,1,Saturday,27,4
10460,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,0,Friday,1,3
10461,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,0,Thursday,9,5

In [386]:
df['Departure_time_hours'] = pd.to_datetime(df.Dep_Time).dt.hour                  # Departure hour
df['Departure_time_minutes'] = pd.to_datetime(df.Dep_Time).dt.minute            # Departure minutes
df['Arrival_time_hours'] = pd.to_datetime(df.Arrival_Time).dt.hour               #  Arrival hour
df['Arrival_time_minutes'] = pd.to_datetime(df.Arrival_Time).dt.minute          # Arrival minutes

In [387]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,1,Sunday,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0,Wednesday,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,1,Sunday,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,1,Sunday,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,0,Friday,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,0,Tuesday,9,4,19,55,22,25
10458,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,1,Saturday,27,4,20,45,23,20
10459,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,1,Saturday,27,4,8,20,11,20
10460,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,0,Friday,1,3,11,30,14,10
10461,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,0,Thursday,9,5,10,55,19,15

In [388]:
df=df.drop(['Dep_Time','Arrival_Time'],axis=1)  
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,1,Sunday,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,0,Wednesday,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,1,Sunday,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,1,Sunday,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,0,Friday,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107,0,Tuesday,9,4,19,55,22,25
10458,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145,1,Saturday,27,4,20,45,23,20
10459,Jet Airways,Banglore,Delhi,BLR → DEL,3h,non-stop,No info,7229,1,Saturday,27,4,8,20,11,20
10460,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648,0,Friday,1,3,11,30,14,10
10461,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753,0,Thursday,9,5,10,55,19,15

In [389]:
df.Total_Stops.replace(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'], [1, 0, 2, 3, 4], inplace=True)  # replacing values with integers
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,1,Sunday,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,0,Wednesday,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,1,Sunday,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218,1,Sunday,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302,0,Friday,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,0,No info,4107,0,Tuesday,9,4,19,55,22,25
10458,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,0,No info,4145,1,Saturday,27,4,20,45,23,20
10459,Jet Airways,Banglore,Delhi,BLR → DEL,3h,0,No info,7229,1,Saturday,27,4,8,20,11,20
10460,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,0,No info,12648,0,Friday,1,3,11,30,14,10
10461,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2,No info,11753,0,Thursday,9,5,10,55,19,15

In [390]:
df["Total_Stops"] = df["Total_Stops"].astype(int)

In [391]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10462 entries, 0 to 10461
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 10462 non-null  object
 1   Source                  10462 non-null  object
 2   Destination             10462 non-null  object
 3   Route                   10462 non-null  object
 4   Duration                10462 non-null  object
 5   Total_Stops             10462 non-null  int32
 6   Additional_Info         10462 non-null  object
 7   Price                   10462 non-null  int64
 8   Weekend                 10462 non-null  int32
 9   Day_of_Week             10462 non-null  object
 10  Day_Of_Journey          10462 non-null  int64
 11  Month_of_Journey        10462 non-null  int64
 12  Departure_time_hours    10462 non-null  int64
 13  Departure_time_minutes  10462 non-null  int64
 14  Arrival_time_hours      10462 non-null  int64
 15  Arrival_time_minutes    10462 non-null  int64
dtypes: int32(2), int64(7), object(7)
memory usage: 1.2+ MB

In [392]:
from sklearn.preprocessing import LabelEncoder          
lb=LabelEncoder()
df['Airline']=pd.DataFrame(lb.fit_transform(df['Airline'])) 
df['Source']=pd.DataFrame(lb.fit_transform(df['Source']))
df['Destination']=pd.DataFrame(lb.fit_transform(df['Destination']))
df['Route']=pd.DataFrame(lb.fit_transform(df['Route']))
df['Additional_Info']=pd.DataFrame(lb.fit_transform(df['Additional_Info']))
df['Day_of_Week']=pd.DataFrame(lb.fit_transform(df['Day_of_Week']))
df['Duration']=pd.DataFrame(lb.fit_transform(df['Duration']))
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,3,0,5,18,240,0,8,3897,1,3,24,3,22,20,1,10
1,1,3,0,85,336,2,8,7662,0,6,1,5,5,50,13,15
2,4,2,1,119,106,2,8,13882,1,3,9,6,9,25,4,25
3,3,3,0,92,311,1,8,6218,1,3,12,5,18,5,23,30
4,3,0,5,29,303,1,8,13302,0,0,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,0,3,0,64,236,0,8,4107,0,5,9,4,19,55,22,25
10458,1,3,0,64,237,0,8,4145,1,2,27,4,20,45,23,20
10459,4,0,2,18,280,0,8,7229,1,2,27,4,8,20,11,20
10460,10,0,5,18,238,0,8,12648,0,0,1,3,11,30,14,10
10461,1,2,1,109,347,2,8,11753,0,4,9,5,10,55,19,15

In [393]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10462 entries, 0 to 10461
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 10462 non-null  int32
 1   Source                  10462 non-null  int32
 2   Destination             10462 non-null  int32
 3   Route                   10462 non-null  int32
 4   Duration                10462 non-null  int32
 5   Total_Stops             10462 non-null  int32
 6   Additional_Info         10462 non-null  int32
 7   Price                   10462 non-null  int64
 8   Weekend                 10462 non-null  int32
 9   Day_of_Week             10462 non-null  int32
 10  Day_Of_Journey          10462 non-null  int64
 11  Month_of_Journey        10462 non-null  int64
 12  Departure_time_hours    10462 non-null  int64
 13  Departure_time_minutes  10462 non-null  int64
 14  Arrival_time_hours      10462 non-null  int64
 15  Arrival_time_minutes    10462 non-null  int64
dtypes: int32(9), int64(7)
memory usage: 940.1 KB

# Splitting data into input and target

In [394]:
df_x=df.drop('Price',axis=1)
df_x.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,3,0,5,18,240,0,8,1,3,24,3,22,20,1,10
1,1,3,0,85,336,2,8,0,6,1,5,5,50,13,15
2,4,2,1,119,106,2,8,1,3,9,6,9,25,4,25
3,3,3,0,92,311,1,8,1,3,12,5,18,5,23,30
4,3,0,5,29,303,1,8,0,0,1,3,16,50,21,35

In [395]:
y=pd.DataFrame(df.Price)
y.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [396]:
print(df_x.shape)
print(y.shape)

(10462, 15)
(10462, 1)

In [397]:
from sklearn.preprocessing import StandardScaler               # Standard scaling input variables
sc = StandardScaler()
x = sc.fit_transform(df_x) 
x = pd.DataFrame(x,columns=df_x.columns) 
x

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,-0.414916,-1.646877,2.404213,-1.528437,0.413069,-1.214593,0.497963,1.550999,-0.080913,1.244442,-1.462080,1.662578,-0.234123,-1.807045,-0.888367
1,-1.260756,0.882057,-0.972012,0.275853,1.291953,1.813062,0.497963,-0.644746,1.446173,-1.471958,0.256507,-1.305841,1.360364,-0.056554,-0.586611
2,0.008004,0.039079,-0.296767,1.191463,-0.813707,1.813062,0.497963,1.550999,-0.080913,-0.527123,1.115800,-0.607390,0.031625,-1.369422,0.016902
3,-0.414916,0.882057,-0.972012,0.464361,1.063077,0.299235,0.497963,1.550999,-0.080913,-0.172810,0.256507,0.964126,-1.031367,1.402189,0.318658
4,-0.414916,-1.646877,2.404213,-1.232210,0.989837,0.299235,0.497963,-0.644746,-1.607999,-1.471958,-1.462080,0.614900,1.360364,1.110440,0.620415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,-1.683676,0.882057,-0.972012,-0.289671,0.376449,-1.214593,0.497963,-0.644746,0.937144,-0.527123,-0.602787,1.138739,1.626112,1.256315,0.016902
10458,-1.260756,0.882057,-0.972012,-0.289671,0.385604,-1.214593,0.497963,1.550999,-0.589942,1.598755,-0.602787,1.313352,1.094616,1.402189,-0.284854
10459,0.008004,-1.646877,0.378478,-1.528437,0.779271,-1.214593,0.497963,1.550999,-0.589942,1.598755,-0.602787,-0.782003,-0.234123,-0.348302,-0.284854
10460,2.545524,-1.646877,2.404213,-1.528437,0.394759,-1.214593,0.497963,-0.644746,-1.607999,-1.471958,-1.462080,-0.258164,0.297373,0.089320,-0.888367
10461,-1.260756,0.039079,-0.296767,0.922166,1.392659,1.813062,0.497963,-0.644746,0.428115,-0.527123,0.256507,-0.432777,1.626112,0.818692,-0.586611

In [398]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(regr,x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)   
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state,"is",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state,"is",max_r_score)
    return final_r_state

In [399]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()                                               # applying Linear Regression
r_state=maxr2_score(lreg,x,y)

r2 score corresponding to  42 is 0.4451128529657308
r2 score corresponding to  43 is 0.37703554011382256
r2 score corresponding to  44 is 0.41380978622627573
r2 score corresponding to  45 is 0.4356479609265679
r2 score corresponding to  46 is 0.41232500114289117
r2 score corresponding to  47 is 0.4495563685238122
r2 score corresponding to  48 is 0.469222498736943
r2 score corresponding to  49 is 0.4354441652171561
r2 score corresponding to  50 is 0.45656325858376656
r2 score corresponding to  51 is 0.43783857683858907
r2 score corresponding to  52 is 0.44522820087481774
r2 score corresponding to  53 is 0.4714257653608841
r2 score corresponding to  54 is 0.448273710157702
r2 score corresponding to  55 is 0.429076294309368
r2 score corresponding to  56 is 0.45251740233633053
r2 score corresponding to  57 is 0.42337525215283833
r2 score corresponding to  58 is 0.4194848102896591
r2 score corresponding to  59 is 0.40901108300814937
r2 score corresponding to  60 is 0.4211986756404338
r2 score corresponding to  61 is 0.38707556237962926
r2 score corresponding to  62 is 0.4180685320673846
r2 score corresponding to  63 is 0.3731726510540231
r2 score corresponding to  64 is 0.42992565517515213
r2 score corresponding to  65 is 0.4025714658314292
r2 score corresponding to  66 is 0.38318473371399
r2 score corresponding to  67 is 0.4528955116777901
r2 score corresponding to  68 is 0.38041016218442547
r2 score corresponding to  69 is 0.4465093282857032
r2 score corresponding to  70 is 0.4119642611981321
r2 score corresponding to  71 is 0.42615315240543183
r2 score corresponding to  72 is 0.40597160934755283
r2 score corresponding to  73 is 0.42307784976853346
r2 score corresponding to  74 is 0.43688293147083945
r2 score corresponding to  75 is 0.47226572157872815
r2 score corresponding to  76 is 0.4462471490096427
r2 score corresponding to  77 is 0.4605995119300149
r2 score corresponding to  78 is 0.4320035811608658
r2 score corresponding to  79 is 0.44182947634369873
r2 score corresponding to  80 is 0.47157953849757694
r2 score corresponding to  81 is 0.45926899246858066
r2 score corresponding to  82 is 0.3962642230474889
r2 score corresponding to  83 is 0.4478430381729348
r2 score corresponding to  84 is 0.41787105667964364
r2 score corresponding to  85 is 0.4432883539761313
r2 score corresponding to  86 is 0.4355528808275497
r2 score corresponding to  87 is 0.4258881173906879
r2 score corresponding to  88 is 0.45016591383667426
r2 score corresponding to  89 is 0.4428637666214419
r2 score corresponding to  90 is 0.4308824076328762
r2 score corresponding to  91 is 0.43871500023665866
r2 score corresponding to  92 is 0.4379003745137201
r2 score corresponding to  93 is 0.4422544427344931
r2 score corresponding to  94 is 0.42603629867924797
r2 score corresponding to  95 is 0.44974198279797006
r2 score corresponding to  96 is 0.44982324721428224
r2 score corresponding to  97 is 0.447072695304632
r2 score corresponding to  98 is 0.43564665959678506
r2 score corresponding to  99 is 0.42922774898650773
max r2 score corresponding to  75 is 0.47226572157872815

In [400]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\hi\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: scipy in c:\users\hi\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in c:\users\hi\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Note: you may need to restart the kernel to use updated packages.

In [401]:
from xgboost import XGBRegressor

In [402]:
xgbr=XGBRegressor()                                                    # Applying XGBoostRegressor
r_state=maxr2_score(xgbr,x,y)

r2 score corresponding to  42 is 0.895926192986095
r2 score corresponding to  43 is 0.8885903816017772
r2 score corresponding to  44 is 0.8979481404552122
r2 score corresponding to  45 is 0.9267778387731312
r2 score corresponding to  46 is 0.8512556712437777
r2 score corresponding to  47 is 0.9091024514329343
r2 score corresponding to  48 is 0.9033182472027621
r2 score corresponding to  49 is 0.8937888000285188
r2 score corresponding to  50 is 0.9247356127613374
r2 score corresponding to  51 is 0.9084735435697765
r2 score corresponding to  52 is 0.9038902034389205
r2 score corresponding to  53 is 0.911297629884331
r2 score corresponding to  54 is 0.8651820026151634
r2 score corresponding to  55 is 0.865917647449955
r2 score corresponding to  56 is 0.8962784932174052
r2 score corresponding to  57 is 0.9178302497004596
r2 score corresponding to  58 is 0.9231084402647218
r2 score corresponding to  59 is 0.9178076712798837
r2 score corresponding to  60 is 0.8921087445062343
r2 score corresponding to  61 is 0.8824132772110522
r2 score corresponding to  62 is 0.887304842240815
r2 score corresponding to  63 is 0.8900995325706246
r2 score corresponding to  64 is 0.9078131376410974
r2 score corresponding to  65 is 0.8881504890144729
r2 score corresponding to  66 is 0.8915604154142966
r2 score corresponding to  67 is 0.9150547407040297
r2 score corresponding to  68 is 0.9188075929575268
r2 score corresponding to  69 is 0.9331040873493657
r2 score corresponding to  70 is 0.9037144681820064
r2 score corresponding to  71 is 0.913428914706336
r2 score corresponding to  72 is 0.9151756531469512
r2 score corresponding to  73 is 0.8863355406599164
r2 score corresponding to  74 is 0.936593807952785
r2 score corresponding to  75 is 0.8806752298280786
r2 score corresponding to  76 is 0.9197569092530251
r2 score corresponding to  77 is 0.8990428362634669
r2 score corresponding to  78 is 0.8652258577650744
r2 score corresponding to  79 is 0.9280842757231224
r2 score corresponding to  80 is 0.9276130376882776
r2 score corresponding to  81 is 0.9162231473825007
r2 score corresponding to  82 is 0.8407017970601377
r2 score corresponding to  83 is 0.9002363124196268
r2 score corresponding to  84 is 0.897834033978453
r2 score corresponding to  85 is 0.9326938162174457
r2 score corresponding to  86 is 0.8898567548919166
r2 score corresponding to  87 is 0.8970172726495717
r2 score corresponding to  88 is 0.9216577780700201
r2 score corresponding to  89 is 0.918613020745766
r2 score corresponding to  90 is 0.9281466446644775
r2 score corresponding to  91 is 0.9050447843491225
r2 score corresponding to  92 is 0.920294959312901
r2 score corresponding to  93 is 0.8925527499698526
r2 score corresponding to  94 is 0.9047737778427241
r2 score corresponding to  95 is 0.909289563274746
r2 score corresponding to  96 is 0.8700239123499398
r2 score corresponding to  97 is 0.8847260555391058
r2 score corresponding to  98 is 0.9059437140492316
r2 score corresponding to  99 is 0.898334168140304
max r2 score corresponding to  74 is 0.936593807952785

In [427]:
# Prediction of Training Dataset with the best working Model XGBRegressor which is having accuracy score 0.936593807952785

x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = 74,test_size=0.20)
xgbr.fit(x_train,y_train)
y_pred = xgbr.predict(x_test)  
r2_scr=r2_score(y_test,y_pred) 
print(r2_scr) 
print(y_pred)

0.936593807952785
[10955.181  8936.642  6073.206 ... 11761.012 16772.215  9194.645]

In [429]:
# saving the Model with XGBoostRegressor
from sklearn.externals import joblib
joblib.dump(xgbr, 'XGBoostRegressor_Flight_Price_Prediction.pkl')

['XGBoostRegressor_Flight_Price_Prediction.pkl']

# Working with Test Dataset for prediction

In [403]:
df1 = pd.read_excel(r'C:\Users\Hi\Desktop\Test_set.xlsx')
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [404]:
df1.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [405]:
df1=df1.drop_duplicates()                   # dropping dupicate values
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [406]:
df1 = df1.reset_index(drop=True)
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2640,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2641,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2642,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2643,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2644,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [407]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2645 non-null   object
 1   Date_of_Journey  2645 non-null   object
 2   Source           2645 non-null   object
 3   Destination      2645 non-null   object
 4   Route            2645 non-null   object
 5   Dep_Time         2645 non-null   object
 6   Arrival_Time     2645 non-null   object
 7   Duration         2645 non-null   object
 8   Total_Stops      2645 non-null   object
 9   Additional_Info  2645 non-null   object
dtypes: object(10)
memory usage: 206.8+ KB

In [408]:
df1["Weekend"] = ((pd.to_datetime(df1["Date_of_Journey"], format = '%d/%m/%Y').dt.dayofweek) // 5 == 1).astype(int) #converting string or object type to datetime 
df1["Day_of_Week"] = pd.to_datetime(df1["Date_of_Journey"], format = '%d/%m/%Y').dt.day_name()        # day name
df1["Day_Of_Journey"] = pd.to_datetime(df1["Date_of_Journey"], format = '%d/%m/%Y').dt.day              # day of month
df1["Month_of_Journey"] = pd.to_datetime(df1["Date_of_Journey"], format = '%d/%m/%Y').dt.month         # month of year
df1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,Thursday,6,6
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,Sunday,12,5
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,0,Tuesday,21,5
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,Tuesday,21,5
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,Monday,24,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,0,Thursday,6,6
2641,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,0,Wednesday,27,3
2642,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,0,Wednesday,6,3
2643,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,0,Wednesday,6,3
2644,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,1,Saturday,15,6

In [409]:
df1=df1.drop(['Date_of_Journey'],axis=1)  
df1                     # after splitting this column is not required

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,Thursday,6,6
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,Sunday,12,5
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,0,Tuesday,21,5
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,Tuesday,21,5
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,Monday,24,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,0,Thursday,6,6
2641,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,0,Wednesday,27,3
2642,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,0,Wednesday,6,3
2643,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,0,Wednesday,6,3
2644,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,1,Saturday,15,6

In [410]:
df1['Departure_time_hours'] = pd.to_datetime(df1.Dep_Time).dt.hour          # departure hours
df1['Departure_time_minutes'] = pd.to_datetime(df1.Dep_Time).dt.minute    #departure minutes
df1['Arrival_time_hours'] = pd.to_datetime(df1.Arrival_Time).dt.hour       # arrival hours
df1['Arrival_time_minutes'] = pd.to_datetime(df1.Arrival_Time).dt.minute     #arrival minutes
df1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,Thursday,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,Sunday,12,5,6,20,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,0,Tuesday,21,5,19,15,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,Tuesday,21,5,8,0,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,Monday,24,6,23,55,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,0,Thursday,6,6,20,30,20,25
2641,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,0,Wednesday,27,3,14,20,16,55
2642,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,0,Wednesday,6,3,21,50,4,25
2643,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,0,Wednesday,6,3,4,0,19,15
2644,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,1,Saturday,15,6,4,55,19,15

In [411]:
df1=df1.drop(['Dep_Time','Arrival_Time'],axis=1)  
df1                                                                         # after splitting these columns are not required

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,0,Thursday,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,1,Sunday,12,5,6,20,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1 stop,In-flight meal not included,0,Tuesday,21,5,19,15,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1 stop,No info,0,Tuesday,21,5,8,0,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,non-stop,No info,0,Monday,24,6,23,55,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,0,Thursday,6,6,20,30,20,25
2641,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,0,Wednesday,27,3,14,20,16,55
2642,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,0,Wednesday,6,3,21,50,4,25
2643,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,0,Wednesday,6,3,4,0,19,15
2644,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,1,Saturday,15,6,4,55,19,15

In [412]:
print(df1['Total_Stops'].unique())

['1 stop' 'non-stop' '2 stops' '3 stops' '4 stops']

In [413]:
df1.Total_Stops.replace(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'], [1, 0, 2, 3, 4], inplace=True)  # replacing values with integers
df1

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1,No info,0,Thursday,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1,No info,1,Sunday,12,5,6,20,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1,In-flight meal not included,0,Tuesday,21,5,19,15,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1,No info,0,Tuesday,21,5,8,0,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,0,No info,0,Monday,24,6,23,55,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1,No info,0,Thursday,6,6,20,30,20,25
2641,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0,No info,0,Wednesday,27,3,14,20,16,55
2642,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1,No info,0,Wednesday,6,3,21,50,4,25
2643,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1,No info,0,Wednesday,6,3,4,0,19,15
2644,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1,No info,1,Saturday,15,6,4,55,19,15

In [414]:
print(df1['Total_Stops'].unique())

[1 0 2 3 4]

In [415]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 2645 non-null   object
 1   Source                  2645 non-null   object
 2   Destination             2645 non-null   object
 3   Route                   2645 non-null   object
 4   Duration                2645 non-null   object
 5   Total_Stops             2645 non-null   int64
 6   Additional_Info         2645 non-null   object
 7   Weekend                 2645 non-null   int32
 8   Day_of_Week             2645 non-null   object
 9   Day_Of_Journey          2645 non-null   int64
 10  Month_of_Journey        2645 non-null   int64
 11  Departure_time_hours    2645 non-null   int64
 12  Departure_time_minutes  2645 non-null   int64
 13  Arrival_time_hours      2645 non-null   int64
 14  Arrival_time_minutes    2645 non-null   int64
dtypes: int32(1), int64(7), object(7)
memory usage: 299.8+ KB

In [416]:
df1["Total_Stops"] = df1["Total_Stops"].astype(int)

In [417]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 2645 non-null   object
 1   Source                  2645 non-null   object
 2   Destination             2645 non-null   object
 3   Route                   2645 non-null   object
 4   Duration                2645 non-null   object
 5   Total_Stops             2645 non-null   int32
 6   Additional_Info         2645 non-null   object
 7   Weekend                 2645 non-null   int32
 8   Day_of_Week             2645 non-null   object
 9   Day_Of_Journey          2645 non-null   int64
 10  Month_of_Journey        2645 non-null   int64
 11  Departure_time_hours    2645 non-null   int64
 12  Departure_time_minutes  2645 non-null   int64
 13  Arrival_time_hours      2645 non-null   int64
 14  Arrival_time_minutes    2645 non-null   int64
dtypes: int32(2), int64(6), object(7)
memory usage: 289.4+ KB

In [418]:
from sklearn.preprocessing import LabelEncoder          
lb=LabelEncoder()
df1['Airline']=pd.DataFrame(lb.fit_transform(df1['Airline']))                    # Label encoding object datatype columns
df1['Source']=pd.DataFrame(lb.fit_transform(df1['Source']))
df1['Destination']=pd.DataFrame(lb.fit_transform(df1['Destination']))
df1['Route']=pd.DataFrame(lb.fit_transform(df1['Route']))
df1['Additional_Info']=pd.DataFrame(lb.fit_transform(df1['Additional_Info']))
df1['Day_of_Week']=pd.DataFrame(lb.fit_transform(df1['Day_of_Week']))
df1['Duration']=pd.DataFrame(lb.fit_transform(df1['Duration']))
df1

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,4,2,1,76,10,1,5,0,4,6,6,17,30,4,25
1,3,3,0,65,248,1,5,1,3,12,5,6,20,10,20
2,4,2,1,76,148,1,3,0,5,21,5,19,15,19,0
3,6,2,1,76,36,1,5,0,5,21,5,8,0,21,0
4,0,0,2,16,216,0,5,0,1,24,6,23,55,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,1,3,0,51,150,1,5,0,4,6,6,20,30,20,25
2641,3,3,0,43,213,0,5,0,6,27,3,14,20,16,55
2642,4,2,1,76,278,1,5,0,6,6,3,21,50,4,25
2643,1,2,1,76,60,1,5,0,6,6,3,4,0,19,15
2644,6,2,1,76,49,1,5,1,2,15,6,4,55,19,15

In [419]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2645 entries, 0 to 2644
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 2645 non-null   int32
 1   Source                  2645 non-null   int32
 2   Destination             2645 non-null   int32
 3   Route                   2645 non-null   int32
 4   Duration                2645 non-null   int32
 5   Total_Stops             2645 non-null   int32
 6   Additional_Info         2645 non-null   int32
 7   Weekend                 2645 non-null   int32
 8   Day_of_Week             2645 non-null   int32
 9   Day_Of_Journey          2645 non-null   int64
 10  Month_of_Journey        2645 non-null   int64
 11  Departure_time_hours    2645 non-null   int64
 12  Departure_time_minutes  2645 non-null   int64
 13  Arrival_time_hours      2645 non-null   int64
 14  Arrival_time_minutes    2645 non-null   int64
dtypes: int32(9), int64(6)
memory usage: 217.1 KB

In [420]:
print(df1.shape)

(2645, 15)

In [421]:
df_x1=df1    # assigning another variable to df1

In [424]:
df_x1

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,4,2,1,76,10,1,5,0,4,6,6,17,30,4,25
1,3,3,0,65,248,1,5,1,3,12,5,6,20,10,20
2,4,2,1,76,148,1,3,0,5,21,5,19,15,19,0
3,6,2,1,76,36,1,5,0,5,21,5,8,0,21,0
4,0,0,2,16,216,0,5,0,1,24,6,23,55,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,1,3,0,51,150,1,5,0,4,6,6,20,30,20,25
2641,3,3,0,43,213,0,5,0,6,27,3,14,20,16,55
2642,4,2,1,76,278,1,5,0,6,6,3,21,50,4,25
2643,1,2,1,76,60,1,5,0,6,6,3,4,0,19,15
2644,6,2,1,76,49,1,5,1,2,15,6,4,55,19,15

In [425]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x1 = sc.fit_transform(df_x1) 
x1 = pd.DataFrame(x1,columns=df_x1.columns) 
x1                                                                  # Standar scaling input variables

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,0.008716,0.030594,-0.293844,0.803623,-1.702318,0.261093,0.480917,-0.653181,0.413209,-0.835727,1.097783,0.772098,0.267435,-1.366298,0.026232
1,-0.426286,0.873530,-0.976212,0.397414,0.830401,0.261093,0.480917,1.530970,-0.097510,-0.109863,0.243018,-1.165138,-0.256540,-0.512126,-0.271549
2,0.008716,0.030594,-0.293844,0.803623,-0.233767,0.261093,-2.147236,-0.653181,0.923927,0.978933,0.243018,1.124323,-0.518527,0.769131,-1.462674
3,0.878721,0.030594,-0.293844,0.803623,-1.425634,0.261093,0.480917,-0.653181,0.923927,0.978933,0.243018,-0.812914,-1.304489,1.053855,-1.462674
4,-1.731292,-1.655278,0.388524,-1.412064,0.489867,-1.236935,0.480917,-0.653181,-1.118946,1.341865,1.097783,1.828772,1.577372,-1.651022,1.217357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,-1.296290,0.873530,-0.976212,-0.119580,-0.212483,0.261093,0.480917,-0.653181,0.413209,-0.835727,1.097783,1.300435,0.267435,0.911493,0.026232
2641,-0.426286,0.873530,-0.976212,-0.415005,0.457942,-1.236935,0.480917,-0.653181,1.434645,1.704797,-1.466511,0.243761,-0.256540,0.342045,1.812919
2642,0.008716,0.030594,-0.293844,0.803623,1.149651,0.261093,0.480917,-0.653181,1.434645,-0.835727,-1.466511,1.476548,1.315385,-1.366298,0.026232
2643,-1.296290,0.030594,-0.293844,0.803623,-1.170234,0.261093,0.480917,-0.653181,1.434645,-0.835727,-1.466511,-1.517363,-1.304489,0.769131,-0.569331
2644,0.878721,0.030594,-0.293844,0.803623,-1.287292,0.261093,0.480917,1.530970,-0.608228,0.253069,1.097783,-1.517363,1.577372,0.769131,-0.569331

In [426]:
test_dataset_x=x1
test_dataset_x                    # Assigning another variable for predictions

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Weekend,Day_of_Week,Day_Of_Journey,Month_of_Journey,Departure_time_hours,Departure_time_minutes,Arrival_time_hours,Arrival_time_minutes
0,0.008716,0.030594,-0.293844,0.803623,-1.702318,0.261093,0.480917,-0.653181,0.413209,-0.835727,1.097783,0.772098,0.267435,-1.366298,0.026232
1,-0.426286,0.873530,-0.976212,0.397414,0.830401,0.261093,0.480917,1.530970,-0.097510,-0.109863,0.243018,-1.165138,-0.256540,-0.512126,-0.271549
2,0.008716,0.030594,-0.293844,0.803623,-0.233767,0.261093,-2.147236,-0.653181,0.923927,0.978933,0.243018,1.124323,-0.518527,0.769131,-1.462674
3,0.878721,0.030594,-0.293844,0.803623,-1.425634,0.261093,0.480917,-0.653181,0.923927,0.978933,0.243018,-0.812914,-1.304489,1.053855,-1.462674
4,-1.731292,-1.655278,0.388524,-1.412064,0.489867,-1.236935,0.480917,-0.653181,-1.118946,1.341865,1.097783,1.828772,1.577372,-1.651022,1.217357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,-1.296290,0.873530,-0.976212,-0.119580,-0.212483,0.261093,0.480917,-0.653181,0.413209,-0.835727,1.097783,1.300435,0.267435,0.911493,0.026232
2641,-0.426286,0.873530,-0.976212,-0.415005,0.457942,-1.236935,0.480917,-0.653181,1.434645,1.704797,-1.466511,0.243761,-0.256540,0.342045,1.812919
2642,0.008716,0.030594,-0.293844,0.803623,1.149651,0.261093,0.480917,-0.653181,1.434645,-0.835727,-1.466511,1.476548,1.315385,-1.366298,0.026232
2643,-1.296290,0.030594,-0.293844,0.803623,-1.170234,0.261093,0.480917,-0.653181,1.434645,-0.835727,-1.466511,-1.517363,-1.304489,0.769131,-0.569331
2644,0.878721,0.030594,-0.293844,0.803623,-1.287292,0.261093,0.480917,1.530970,-0.608228,0.253069,1.097783,-1.517363,1.577372,0.769131,-0.569331

In [428]:
#Predicting with XGBoostRegressor
y_pred2 = xgbr.predict(test_dataset_x)  
print(y_pred2)

[12983.188   4864.2275 12755.446  ... 16789.965  14011.404   8575.559 ]